The latest conversations about what to focus on in our living database construction have centered on the intersection with GAP species habitat mapping. This notebook does some additional work on building the relevant data and summarizes results.

The database for this work currently sits in a MongoDB database on our ESIP Testbed R&D space (DataDistillery). We're currently in the process of spinning this up for production, which will change the interface methods and expose everything via a public API. In the meantime, access is handled through the latest version of the [pybis package](https://github.com/usgs-bis/pybis), which can be installed via pip. The db module in that package requires a set of environment variables with connection information for the database that is only available to our team. You can enter those in a number of ways depending on how you're running Jupyter (virtual environment, etc.), including right here in the notebook using %env magic in a cell.

In [3]:
from pybis import db
from IPython.display import display
import pandas as pd
import requests

bisDB = db.Db.connect_mongodb("bis")
esaWPSpecies = bisDB["FWS_Work_Plan_Species"]

# GAP Species Habitat Maps
The Gap Analysis Project in Core Science Analytics, Synthesis and Library has produced species distribution maps for the terrestrial vertebrate species with range in CONUS. These are 30m raster products based on the GAP Land Cover data from 2001. Many of these distribution maps have been online for many years, particularly those that were started as regional products.

The following code block runs through the set of FWS Work Plan Species for which we determined a match to GAP species and hits an experimental API to pull back state-level metrics and stash those in the database for further reference. These metrics are based on an analytical database that is also undergoing review currently.

We will soon be abstracting this database call through the bis-api. What's here now is a low-level interaction with an ElasticSearch index from a staging API that is only accessible from the DOI network (including VPN), so don't count on it being fully available all the time.

In [9]:
for record in esaWPSpecies.find({"GAP":{"$exists":True}},{"Submitted Data":1,"GAP":1}):
    print (record["Submitted Data"]["Scientific Name"], "--", record["Submitted Data"]["Common Name"], "-- GAP Species Code:", record["GAP"]["gap_speciescode"])
    esResults = requests.get("https://master.staging.sciencebase.gov/bis/api/v0.1/elastic/search/bis__bis__state_species_prot_summ?q=%7B%22query%22%3A%7B%22match%22%3A%7B%22properties.sppcode%22%3A%22"+record["GAP"]["gap_speciescode"]+"%22%7D%7D%7D", verify=False).json()
    gapAnalysisByState = []
    for hit in esResults['hits']['hits']:
        gapAnalysisByState.append(hit['_source']['properties'])
    print(esaWPSpecies.update_one({'_id':record['_id']},{'$set':{'GAP Metrics':gapAnalysisByState}}))

Ambystoma barbouri -- streamside salamander -- GAP Species Code: aSTRSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bc72c88>
Batrachoseps campi -- Inyo Mountains slender salamander -- GAP Species Code: aINSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>
Batrachoseps minor -- lesser slender salamander -- GAP Species Code: aLSSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b84e208>
Batrachoseps relictus -- relictual slender salamander -- GAP Species Code: aRSSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865788>
Batrachoseps robustus -- Kern Plateau salamander -- GAP Species Code: aKPSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b84e1c8>
Batrachoseps simatus -- Kern Canyon slender salamander -- GAP Species Code: aKCSSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865fc8>
Bufo microscaphus microscaphus -- Arizona toad -- GAP Species Code: aAZTOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b84e248>
Cryptobranchus alleganiensis -- hellbender -- GAP Species Code: aHELLx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcfea48>
Eurycea latitans -- Cascade Caverns salamander -- GAP Species Code: aCCSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b86c848>
Eurycea nana -- Texas salamander -- GAP Species Code: aSMSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd10e48>
Eurycea robusta -- Blanco blind salamander -- GAP Species Code: aBLSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>
Eurycea sp. -- Comal Springs salamander -- GAP Species Code: aBLSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd0a548>
Eurycea tridentifera -- Comal blind salamander -- GAP Species Code: aCBSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>
Eurycea tynerensis -- Oklahoma salamander -- GAP Species Code: aOKSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd22ec8>
Gyrinophilus gulolineatus -- Berry Cave Salamander -- GAP Species Code: aBCSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>
Gyrinophilus palleucus -- Tennessee Cave salamander -- GAP Species Code: aTCSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd223c8>
Gyrinophilus subterraneus -- West Virginia spring salamander -- GAP Species Code: aWVSSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865fc8>
Haideotriton wallacei -- Georgia blind salamander -- GAP Species Code: aGBSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd16208>
Hydromantes brunus -- limestone salamander -- GAP Species Code: aLISAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd31448>
Hydromantes shastae -- Shasta salamander -- GAP Species Code: aSHSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b85ef88>
Necturus lewisi -- Neuse River waterdog -- GAP Species Code: aNRWAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd267c8>
Notophthalmus perstriatus -- striped newt -- GAP Species Code: aSTNEx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b85e288>
Plethodon hubrichti -- Peaks of Otter salamander -- GAP Species Code: aPOSAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b84e148>
Pseudacris illinoensis -- Illinois chorus frog -- GAP Species Code: aILGRx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd43648>
Rana boylii -- foothill yellow-legged frog -- GAP Species Code: aFYLFx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd31348>
Rana cascadae -- Cascades frog -- GAP Species Code: aCSFRx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35388>
Rhyacotriton cascadae -- Cascade torrent salamander -- GAP Species Code: aCTRSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd38cc8>
Rhyacotriton kezeri -- Columbia torrent salamander -- GAP Species Code: aCTOSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd354c8>
Spea hammondii -- western spadefoot -- GAP Species Code: aWESPx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd38748>
Agelaius tricolor -- tricolor blackbird -- GAP Species Code: bTRBLx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b85e288>
Amazona viridigenalis -- red-crowned parrot -- GAP Species Code: bRCPAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>
Ammodramus caudacutus -- salt marsh sharp-tailed sparrow -- GAP Species Code: bSSTSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35248>
Catharus bicknelli -- Bicknell's thrush -- GAP Species Code: bBITHx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35088>
Fratercula cirrhata -- tufted puffin -- GAP Species Code: bTUPUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35248>
Grus canadensis pratensis -- Florida sandhill crane -- GAP Species Code: bTUPUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865fc8>
Laterallus jamaicensis -- black rail -- GAP Species Code: bBLRAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd38388>
picoides arcticus -- black-backed woodpecker (Black Hills population) -- GAP Species Code: bBBWOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd4c5c8>
picoides arcticus -- black-backed woodpecker (Oregon Cascades-California population) -- GAP Species Code: bBBWOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b88c488>
Strix occidentalis caurina -- northern spotted owl -- GAP Species Code: bSPOWc

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35088>
Strix occidentalis occidentalis -- California spotted owl -- GAP Species Code: bSPOWo

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd5a548>
Tympanuchus pallidicinctus -- lesser prairie-chicken -- GAP Species Code: bLEPCx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10c7da7c8>
Vermivora chrysoptera -- golden-winged warbler -- GAP Species Code: bGWWAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd16508>
Arborimus longicaudus -- red tree vole -- GAP Species Code: mRTVOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b85efc8>
Cynomys leucurus -- white-tailed prairie dog -- GAP Species Code: mWTPDx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd6e0c8>
Dipodomys elator -- Texas kangaroo rat -- GAP Species Code: mTKRAx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd5a788>
Martes pennanti -- Fisher (Northern Rocky Mountains population) -- GAP Species Code: mFISHx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd61bc8>
Myotis lucifugus -- little brown bat -- GAP Species Code: mLBMYx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd35d88>
Tamias minimus atristriatus -- Penasco least chipmunk -- GAP Species Code: mLECHt

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071a3288>
Vulpes vulpes necator -- Sierra Nevada red fox -- GAP Species Code: mREFOn

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcfea48>
Actinemys marmorata -- western pond turtle -- GAP Species Code: rWPTUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865788>
aspidoscelis arizonae -- Arizona striped whiptail -- GAP Species Code: rWPTUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcfea48>
Charina bottae umbratica -- southern rubber boa -- GAP Species Code: rSRBOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071a3288>
Clemmys guttata -- spotted turtle -- GAP Species Code: rSPTUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bd72b48>
Clonophis kirtlandii -- Kirtland's snake -- GAP Species Code: rKISNx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b927488>
Elgaria panamintina -- Panamint alligator lizard -- GAP Species Code: rPALIx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071659c8>
Emydoidea blandingii -- Blanding's turtle -- GAP Species Code: rBTURx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071a3288>
Glyptemys insculpta -- wood turtle -- GAP Species Code: rWOTUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b85e088>
Gopherus polyphemus -- gopher tortoise -- GAP Species Code: rGOTOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b865fc8>
Graptemys barbouri -- Barbour's map turtle -- GAP Species Code: rBMTUx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bc39848>
Heterodon simus -- southern hognose snake -- GAP Species Code: rSHNSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcfe9c8>
Holbrookia lacerata -- spot-tailed earless lizard -- GAP Species Code: rSTELx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071a3288>
Macroclemys temmincki -- alligator snapping turtle -- GAP Species Code: rSTELx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10719bb08>
Pituophis melanoleucus mugitus -- Florida pine snake -- GAP Species Code: rPINEu

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bc39688>
Pseudemys gorzugi -- Rio Grande cooter -- GAP Species Code: rRGCOx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10b937408>
Pseudemys rubriventris -- northern red-bellied cooter (range- wide) -- GAP Species Code: rNRBCx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x1071a3288>
Tantilla oolitica -- Rim Rock crowned snake -- GAP Species Code: rRRCSx

/anaconda3/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

<pymongo.results.UpdateResult object at 0x10bcf52c8>

Now that we grabbed up and cached the basic metrics data, we can exploit it to build out a report of some kind. One of the things we might want to look at is any difference in the states for which the GAP models indicate possible species range and what FWS is currently considering the states in the species range. We can now look at that pretty readily with the data we've assembled thus far. This code block simply builds out lists of states provided as species range in the FWS work plan, list of the states where the GAP analysis indicates states with potentially suitable habitat, and compares the two. In cases where the GAP data indicates there may be species range in states not identified as yet in the FWS work plan, I put the GAP metrics data into a dataframe and display it for further discussion.

In [34]:
for record in esaWPSpecies.find({"GAP":{"$exists":True}},{"Submitted Data":1,"FWS Range":1,"GAP":1,"GAP Metrics":1}):
    fwsStates = [list(s.values())[0]['name'] for s in record['FWS Range']['US States']]
    gapStates = [m['state_name'] for m in record['GAP Metrics'] if m['state_name'] != 'CONUS']
    print('==== FWS Work Plan Information ====')
    display(record['Submitted Data'])
    print('==== GAP Matched Record ====')
    display(record['GAP'])
    print('==== State Range Comparison ====')
    print('FWS States', fwsStates)
    print('GAP States', gapStates)
    print('Agreement between FWS and GAP states', list(set(fwsStates) & set(gapStates)))
    print('FWS States not in GAP States', list(set(fwsStates) - set(gapStates)))
    print('GAP States not in FWS States', list(set(gapStates) - set(fwsStates)))
    
    if len(list(set(gapStates) - set(fwsStates))) > 0:
        display(pd.DataFrame(record['GAP Metrics']))
        
    print('*************************************')

==== FWS Work Plan Information ====

{'Common Name': 'streamside salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Ambystoma barbouri',
 'Species Range': 'AL, KY, OH, TN, WV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9776'}

==== GAP Matched Record ====

{'commonname': 'Streamside Salamander',
 'doi': 'doi:10.5066/F74J0CCV',
 'gap_speciescode': 'aSTRSx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Kentucky', 'Ohio', 'Tennessee', 'West Virginia']
GAP States ['Ohio', 'West Virginia', 'Illinois', 'Tennessee', 'Indiana', 'Kentucky']
Agreement between FWS and GAP states ['Tennessee', 'Kentucky', 'Ohio', 'West Virginia']
FWS States not in GAP States ['Alabama']
GAP States not in FWS States ['Illinois', 'Indiana']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,54237.654286,1-10,6.950017,18104.274581,1-10,2.319883,4189.251656,0.536811,13915.022925,1.783072,...,7.261583e+05,93.049983,16595,Streamside Salamander,Ambystoma barbouri,aSTRSx,39,Ohio,A,7.803960e+05
1,395031.953229,1-10,7.282702,261429.585726,1-10,4.819645,31067.447579,0.572751,230362.138147,4.246894,...,5.029218e+06,92.717298,252,Streamside Salamander,Ambystoma barbouri,aSTRSx,0,CONUS,A,5.424250e+06
2,3421.767053,10-17,12.624203,3053.481193,10-17,11.265456,0.000000,0.000000,3053.481193,11.265456,...,2.368305e+04,87.375797,22780,Streamside Salamander,Ambystoma barbouri,aSTRSx,54,West Virginia,A,2.710482e+04
3,3732.675043,17-50,21.513260,3508.723436,17-50,20.222516,683.641747,3.940167,2825.081689,16.282349,...,1.361790e+04,78.486740,7216,Streamside Salamander,Ambystoma barbouri,aSTRSx,17,Illinois,A,1.735058e+04
4,826.864026,<1,0.297944,557.099081,<1,0.200740,0.000000,0.000000,557.099081,0.200740,...,2.766961e+05,99.702056,19727,Streamside Salamander,Ambystoma barbouri,aSTRSx,47,Tennessee,A,2.775230e+05
5,228133.074637,10-17,15.723357,174339.320456,10-17,12.015791,7669.286157,0.528581,166670.034299,11.487209,...,1.222785e+06,84.276643,7639,Streamside Salamander,Ambystoma barbouri,aSTRSx,18,Indiana,A,1.450918e+06
6,104679.918184,1-10,3.646168,61866.686977,1-10,2.154915,18525.268019,0.645264,43341.418959,1.509650,...,2.766277e+06,96.353832,8863,Streamside Salamander,Ambystoma barbouri,aSTRSx,21,Kentucky,A,2.870957e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Inyo Mountains slender salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Batrachoseps campi',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/2095'}

==== GAP Matched Record ====

{'commonname': 'Inyo Mountains Salamander',
 'doi': 'doi:10.5066/F72B8W82',
 'gap_speciescode': 'aINSAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'lesser slender salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Batrachoseps minor',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9277'}

==== GAP Matched Record ====

{'commonname': 'Lesser Slender Salamander',
 'doi': 'doi:10.5066/F70G3HD5',
 'gap_speciescode': 'aLSSAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'relictual slender salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Batrachoseps relictus',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7408'}

==== GAP Matched Record ====

{'commonname': 'Relictual Slender Salamander',
 'doi': 'doi:10.5066/F7KW5DB6',
 'gap_speciescode': 'aRSSAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Kern Plateau salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Batrachoseps robustus',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9274'}

==== GAP Matched Record ====

{'commonname': 'Kern Plateau Salamander',
 'doi': 'doi:10.5066/F78W3BKZ',
 'gap_speciescode': 'aKPSAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Kern Canyon slender salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Batrachoseps simatus',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5736'}

==== GAP Matched Record ====

{'commonname': 'Kern Canyon Slender Salamander',
 'doi': 'doi:10.5066/F7DN43B4',
 'gap_speciescode': 'aKCSSx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Arizona toad',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Bufo microscaphus microscaphus',
 'Species Range': 'AZ, CA, NM, NV, UT',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/2077'}

==== GAP Matched Record ====

{'commonname': 'Arizona Toad',
 'doi': 'doi:10.5066/F7D798PF',
 'gap_speciescode': 'aAZTOx'}

==== State Range Comparison ====
FWS States ['Arizona', 'California', 'New Mexico', 'Nevada', 'Utah']
GAP States ['Nevada', 'Utah', 'Arizona', 'California', 'New Mexico']
Agreement between FWS and GAP states ['Arizona', 'Nevada', 'Utah', 'California', 'New Mexico']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'hellbender',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Cryptobranchus alleganiensis',
 'Species Range': 'AL, AR, GA, IL, IN, KY, MD, MO, MS, NC, NY, OH, PA, SC, TN, VA, WV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp0/profile/speciesProfile?spcode=D00Y'}

==== GAP Matched Record ====

{'commonname': 'Hellbender',
 'doi': 'doi:10.5066/F7ZK5DX4',
 'gap_speciescode': 'aHELLx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Arkansas', 'Georgia', 'Illinois', 'Indiana', 'Kentucky', 'Maryland', 'Missouri', 'Mississippi', 'North Carolina', 'New York', 'Ohio', 'Pennsylvania', 'South Carolina', 'Tennessee', 'Virginia', 'West Virginia']
GAP States ['Indiana', 'Pennsylvania', 'Mississippi', 'Alabama', 'Georgia', 'Illinois', 'Tennessee', 'Maryland', 'Missouri', 'Kentucky']
Agreement between FWS and GAP states ['Maryland', 'Missouri', 'Georgia', 'Indiana', 'Pennsylvania', 'Alabama', 'Tennessee', 'Kentucky', 'Illinois', 'Mississippi']
FWS States not in GAP States ['Virginia', 'Ohio', 'West Virginia', 'North Carolina', 'South Carolina', 'Arkansas', 'New York']
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Cascade Caverns salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Eurycea latitans',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4624'}

==== GAP Matched Record ====

{'commonname': 'Cascade Caverns Salamander',
 'doi': 'doi:10.5066/F78C9TJD',
 'gap_speciescode': 'aCCSAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Texas salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Eurycea nana',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp0/profile/speciesProfile?spcode=D00I'}

==== GAP Matched Record ====

{'commonname': 'San Marcos Salamander',
 'doi': 'doi:10.5066/F7MP51JK',
 'gap_speciescode': 'aSMSAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Blanco blind salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Eurycea robusta',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/29'}

==== GAP Matched Record ====

{'commonname': 'Blanco Blind Salamander',
 'doi': 'doi:10.5066/F7028PTC',
 'gap_speciescode': 'aBLSAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Comal Springs salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Eurycea sp.',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp0/profile/speciesProfile?spcode=D03Z'}

==== GAP Matched Record ====

{'commonname': 'Blanco Blind Salamander',
 'doi': 'doi:10.5066/F7028PTC',
 'gap_speciescode': 'aBLSAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Comal blind salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Eurycea tridentifera',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/2890'}

==== GAP Matched Record ====

{'commonname': 'Comal Blind Salamander',
 'doi': 'doi:10.5066/F7HT2MKC',
 'gap_speciescode': 'aCBSAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Oklahoma salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Eurycea tynerensis',
 'Species Range': 'OK, MO, AR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4096'}

==== GAP Matched Record ====

{'commonname': 'Oklahoma Salamander',
 'doi': 'doi:10.5066/F7BK19N6',
 'gap_speciescode': 'aOKSAx'}

==== State Range Comparison ====
FWS States ['Oklahoma', 'Missouri', 'Arkansas']
GAP States ['Oklahoma', 'Missouri', 'Arkansas']
Agreement between FWS and GAP states ['Oklahoma', 'Arkansas', 'Missouri']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Berry Cave Salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Gyrinophilus gulolineatus',
 'Species Range': 'TN',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4043'}

==== GAP Matched Record ====

{'commonname': 'Berry Cave Salamander',
 'doi': 'doi:10.5066/F7RJ4GR4',
 'gap_speciescode': 'aBCSAx'}

==== State Range Comparison ====
FWS States ['Tennessee']
GAP States ['Tennessee']
Agreement between FWS and GAP states ['Tennessee']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Tennessee Cave salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Gyrinophilus palleucus',
 'Species Range': 'AL, GA, TN',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5131'}

==== GAP Matched Record ====

{'commonname': 'Tennessee Cave Salamander',
 'doi': 'doi:10.5066/F7GT5KGF',
 'gap_speciescode': 'aTCSAx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Georgia', 'Tennessee']
GAP States ['North Carolina', 'Alabama', 'Georgia', 'Tennessee']
Agreement between FWS and GAP states ['Alabama', 'Tennessee', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States ['North Carolina']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.556764,17-50,29.166667,0.000000,<1,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.780712e+00,70.833333,15756,Tennessee Cave Salamander,Gyrinophilus palleucus,aTCSAx,37,North Carolina,A,5.337476e+00
1,122838.901896,10-17,13.033966,82742.890880,1-10,8.779532,19662.150456,2.086276,63080.740425,6.693256,...,8.196133e+05,86.966034,1798,Tennessee Cave Salamander,Gyrinophilus palleucus,aTCSAx,01,Alabama,A,9.424522e+05
2,287544.300153,1-10,7.516256,185156.383220,1-10,4.839890,39506.664682,1.032683,145649.718538,3.807206,...,3.538088e+06,92.483744,257,Tennessee Cave Salamander,Gyrinophilus palleucus,aTCSAx,0,CONUS,A,3.825632e+06
3,30013.518418,10-17,16.558023,27650.573213,10-17,15.254420,17666.379135,9.746285,9984.194077,5.508135,...,1.512492e+05,83.441977,6288,Tennessee Cave Salamander,Gyrinophilus palleucus,aTCSAx,13,Georgia,A,1.812627e+05
4,134690.323075,1-10,4.985000,74762.919127,1-10,2.767037,2178.135091,0.080615,72584.784036,2.686423,...,2.567222e+06,95.015000,19729,Tennessee Cave Salamander,Gyrinophilus palleucus,aTCSAx,47,Tennessee,A,2.701912e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'West Virginia spring salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Gyrinophilus subterraneus',
 'Species Range': 'WV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1835'}

==== GAP Matched Record ====

{'commonname': 'West Virginia Spring Salamander',
 'doi': 'doi:10.5066/F74F1P2W',
 'gap_speciescode': 'aWVSSx'}

==== State Range Comparison ====
FWS States ['West Virginia']
GAP States ['West Virginia']
Agreement between FWS and GAP states ['West Virginia']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Georgia blind salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Haideotriton wallacei',
 'Species Range': 'FL, GA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/8465'}

==== GAP Matched Record ====

{'commonname': 'Georgia Blind Salamander',
 'doi': 'doi:10.5066/F7JH3JFB',
 'gap_speciescode': 'aGBSAx'}

==== State Range Comparison ====
FWS States ['Florida', 'Georgia']
GAP States ['Georgia', 'Alabama', 'Florida']
Agreement between FWS and GAP states ['Florida', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States ['Alabama']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,3942.838170,1-10,3.567663,3584.560078,1-10,3.243476,1758.698418,1.591352,1825.861660,1.652124,...,106573.165482,96.432337,6228,Georgia Blind Salamander,Haideotriton wallacei,aGBSAx,13,Georgia,A,110516.003651
1,0.889579,<1,0.025840,0.889579,<1,0.025840,0.000000,0.000000,0.889579,0.025840,...,3441.782589,99.974160,1745,Georgia Blind Salamander,Haideotriton wallacei,aGBSAx,01,Alabama,A,3442.672168
2,177.915874,1-10,1.206109,116.757293,<1,0.791509,0.000000,0.000000,116.757293,0.791509,...,14573.311660,98.793891,5689,Georgia Blind Salamander,Haideotriton wallacei,aGBSAx,12,Florida,A,14751.227535
3,4121.643623,1-10,3.202274,3702.206950,1-10,2.876396,1758.698418,1.366405,1943.508532,1.509991,...,124588.259731,96.797726,94,Georgia Blind Salamander,Haideotriton wallacei,aGBSAx,0,CONUS,A,128709.903354

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'limestone salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Hydromantes brunus',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/2773'}

==== GAP Matched Record ====

{'commonname': 'Limestone Salamander',
 'doi': 'doi:10.5066/F7CN726R',
 'gap_speciescode': 'aLISAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Shasta salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Hydromantes shastae',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/6607'}

==== GAP Matched Record ====

{'commonname': 'Shasta Salamander',
 'doi': 'doi:10.5066/F7D50K8P',
 'gap_speciescode': 'aSHSAx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Neuse River waterdog',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Necturus lewisi',
 'Species Range': 'NC',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/6772'}

==== GAP Matched Record ====

{'commonname': 'Neuse River Waterdog',
 'doi': 'doi:10.5066/F7H70D30',
 'gap_speciescode': 'aNRWAx'}

==== State Range Comparison ====
FWS States ['North Carolina']
GAP States ['North Carolina', 'Virginia']
Agreement between FWS and GAP states ['North Carolina']
FWS States not in GAP States []
GAP States not in FWS States ['Virginia']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,8294.438061,1-10,4.990526,1122.426772,<1,0.675332,17.124403,0.010303,1105.302369,0.665029,...,157909.234253,95.009474,15722,Neuse River Waterdog,Necturus lewisi,aNRWAx,37,North Carolina,A,166203.672314
1,8328.019682,1-10,5.009357,1122.426772,<1,0.675147,17.124403,0.010300,1105.302369,0.664846,...,157921.243574,94.990643,164,Neuse River Waterdog,Necturus lewisi,aNRWAx,0,CONUS,A,166249.263256
2,33.581621,>50,73.658537,0.000000,<1,0.000000,0.000000,0.000000,0.000000,0.000000,...,12.009322,26.341463,21782,Neuse River Waterdog,Necturus lewisi,aNRWAx,51,Virginia,A,45.590943

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'striped newt',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Notophthalmus perstriatus',
 'Species Range': 'FL, GA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5856'}

==== GAP Matched Record ====

{'commonname': 'Striped Newt',
 'doi': 'doi:10.5066/F7D21VWD',
 'gap_speciescode': 'aSTNEx'}

==== State Range Comparison ====
FWS States ['Florida', 'Georgia']
GAP States ['Florida', 'Georgia', 'Alabama', 'South Carolina']
Agreement between FWS and GAP states ['Florida', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States ['South Carolina', 'Alabama']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.074611e+06,17-50,17.549712,439033.440081,1-10,7.169956,203543.544042,3.324116,235489.896040,3.845840,...,5.048627e+06,82.450288,250,Striped Newt,Notophthalmus perstriatus,aSTNEx,0,CONUS,A,6.123237e+06
1,8.138788e+05,17-50,28.741651,182485.198762,1-10,6.444357,77723.439276,2.744757,104761.759486,3.699600,...,2.017826e+06,71.258349,5728,Striped Newt,Notophthalmus perstriatus,aSTNEx,12,Florida,A,2.831705e+06
2,2.484853e+05,1-10,7.701225,245353.107322,1-10,7.604150,125820.104766,3.899502,119533.002557,3.704648,...,2.978083e+06,92.298775,6286,Striped Newt,Notophthalmus perstriatus,aSTNEx,13,Georgia,A,3.226569e+06
3,5.248518e+01,<1,0.351379,16.457218,<1,0.110178,0.000000,0.000000,16.457218,0.110178,...,1.488444e+04,99.648621,1796,Striped Newt,Notophthalmus perstriatus,aSTNEx,01,Alabama,A,1.493693e+04
4,1.219391e+04,17-50,24.374847,11178.676778,17-50,22.345462,0.000000,0.000000,11178.676778,22.345462,...,3.783270e+04,75.625153,18842,Striped Newt,Notophthalmus perstriatus,aSTNEx,45,South Carolina,A,5.002661e+04

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Peaks of Otter salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Plethodon hubrichti',
 'Species Range': 'VA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3529'}

==== GAP Matched Record ====

{'commonname': 'Peaks Of Otter Salamander',
 'doi': 'doi:10.5066/F7SJ1HWH',
 'gap_speciescode': 'aPOSAx'}

==== State Range Comparison ====
FWS States ['Virginia']
GAP States ['Virginia']
Agreement between FWS and GAP states ['Virginia']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Illinois chorus frog',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Pseudacris illinoensis',
 'Species Range': 'AR, IL, MO',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/455'}

==== GAP Matched Record ====

{'commonname': 'Illinois Chorus Frog',
 'doi': 'doi:10.5066/F79W0CRS',
 'gap_speciescode': 'aILGRx'}

==== State Range Comparison ====
FWS States ['Arkansas', 'Illinois', 'Missouri']
GAP States ['Arkansas', 'Tennessee', 'Illinois', 'Kentucky', 'Missouri']
Agreement between FWS and GAP states ['Arkansas', 'Illinois', 'Missouri']
FWS States not in GAP States []
GAP States not in FWS States ['Tennessee', 'Kentucky']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,231636.905386,10-17,12.654510,216526.287786,10-17,11.829004,32045.317703,1.750661,184480.970082,10.078343,...,1.598832e+06,87.345490,119,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,0,CONUS,A,1.830469e+06
1,54422.464401,17-50,17.604373,54422.464401,17-50,17.604373,2619.811249,0.847447,51802.653152,16.756927,...,2.547193e+05,82.395627,2917,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,05,Arkansas,A,3.091417e+05
2,28137.617919,17-50,33.307183,28116.712803,17-50,33.282438,0.000000,0.000000,28116.712803,33.282438,...,5.634151e+04,66.692817,19686,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,47,Tennessee,A,8.447913e+04
3,59663.643664,1-10,8.883025,45017.831284,1-10,6.702482,17487.351287,2.603605,27530.479997,4.098877,...,6.119955e+05,91.116975,7192,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,17,Illinois,A,6.716591e+05
4,12291.318177,17-50,17.368514,11925.923451,10-17,16.852185,466.806775,0.659631,11459.116675,16.192553,...,5.847650e+04,82.631486,8834,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,21,Kentucky,A,7.076782e+04
5,77121.861226,10-17,11.105916,77043.355846,10-17,11.094611,11471.348392,1.651929,65572.007455,9.442682,...,6.172996e+05,88.894084,12060,Illinois Chorus Frog,Pseudacris illinoensis,aILGRx,29,Missouri,A,6.944214e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'foothill yellow-legged frog',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Rana boylii',
 'Species Range': 'CA, OR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5133'}

==== GAP Matched Record ====

{'commonname': 'Foothill Yellow-legged Frog',
 'doi': 'doi:10.5066/F7P84952',
 'gap_speciescode': 'aFYLFx'}

==== State Range Comparison ====
FWS States ['California', 'Oregon']
GAP States ['Oregon', 'Nevada', 'California', 'Washington']
Agreement between FWS and GAP states ['California', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States ['Washington', 'Nevada']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,2.798352e+06,>50,54.052330,861298.309008,10-17,16.636642,636540.298507,12.295267,224758.010501,4.341374,...,2.378764e+06,45.947670,93,Foothill Yellow-legged Frog,Rana boylii,aFYLFx,0,CONUS,A,5.177116e+06
1,8.351249e+05,>50,59.925708,162176.991288,10-17,11.637267,125350.184462,8.994701,36826.806825,2.642566,...,5.584755e+05,40.074292,17503,Foothill Yellow-legged Frog,Rana boylii,aFYLFx,41,Oregon,A,1.393600e+06
2,5.871224e+02,>50,97.995546,435.671497,>50,72.717149,435.671497,72.717149,0.000000,0.000000,...,1.200932e+01,2.004454,13328,Foothill Yellow-legged Frog,Rana boylii,aFYLFx,32,Nevada,A,5.991317e+02
3,1.961585e+06,>50,51.970920,698672.302532,17-50,18.510873,510754.442547,13.532110,187917.859985,4.978763,...,1.812804e+06,48.029080,3343,Foothill Yellow-legged Frog,Rana boylii,aFYLFx,06,California,A,3.774389e+06
4,1.055486e+03,10-17,12.377748,13.343691,<1,0.156482,0.000000,0.000000,13.343691,0.156482,...,7.471800e+03,87.622252,22251,Foothill Yellow-legged Frog,Rana boylii,aFYLFx,53,Washington,A,8.527285e+03

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Cascades frog',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Rana cascadae',
 'Species Range': 'OR, WA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7827'}

==== GAP Matched Record ====

{'commonname': 'Cascades Frog',
 'doi': 'doi:10.5066/F7PG1Q0Q',
 'gap_speciescode': 'aCSFRx'}

==== State Range Comparison ====
FWS States ['Oregon', 'Washington']
GAP States ['Oregon', 'California', 'Washington']
Agreement between FWS and GAP states ['Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States ['California']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,5.563434e+05,>50,74.608786,179441.947732,17-50,24.064177,126789.746281,17.003220,52652.201451,7.060957,...,189337.406267,25.391214,17495,Cascades Frog,Rana cascadae,aCSFRx,41,Oregon,A,7.456808e+05
1,4.810650e+05,>50,71.499680,154579.761060,17-50,22.974867,134204.390343,19.946518,20375.370717,3.028349,...,191756.172578,28.500320,3336,Cascades Frog,Rana cascadae,aCSFRx,06,California,A,6.728211e+05
2,2.037283e+06,>50,74.245456,797845.279616,17-50,29.076165,659016.633305,24.016782,138828.646311,5.059383,...,706700.533966,25.754544,62,Cascades Frog,Rana cascadae,aCSFRx,0,CONUS,A,2.743984e+06
3,9.998750e+05,>50,75.435053,463823.570824,17-50,34.992930,398022.496681,30.028602,65801.074143,4.964328,...,325602.952014,24.564947,22245,Cascades Frog,Rana cascadae,aCSFRx,53,Washington,A,1.325478e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Cascade torrent salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Rhyacotriton cascadae',
 'Species Range': 'OR, WA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1375'}

==== GAP Matched Record ====

{'commonname': 'Cascade Torrent Salamander',
 'doi': 'doi:10.5066/F7X0659C',
 'gap_speciescode': 'aCTRSx'}

==== State Range Comparison ====
FWS States ['Oregon', 'Washington']
GAP States ['Washington', 'Oregon']
Agreement between FWS and GAP states ['Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Columbia torrent salamander',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Rhyacotriton kezeri',
 'Species Range': 'OR, WA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3376'}

==== GAP Matched Record ====

{'commonname': 'Columbia Torrent Salamander',
 'doi': 'doi:10.5066/F71N7ZD3',
 'gap_speciescode': 'aCTOSx'}

==== State Range Comparison ====
FWS States ['Oregon', 'Washington']
GAP States ['Oregon', 'Washington']
Agreement between FWS and GAP states ['Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'western spadefoot',
 'Grouping': 'Amphibians',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Spea hammondii',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5425'}

==== GAP Matched Record ====

{'commonname': 'Western Spadefoot',
 'doi': 'doi:10.5066/F7DV1H5S',
 'gap_speciescode': 'aWESPx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'tricolor blackbird',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Agelaius tricolor',
 'Species Range': 'CA, OR, WA, NV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3910'}

==== GAP Matched Record ====

{'commonname': 'Tricolored Blackbird',
 'doi': 'doi:10.5066/F74J0CG6',
 'gap_speciescode': 'bTRBLx'}

==== State Range Comparison ====
FWS States ['California', 'Oregon', 'Washington', 'Nevada']
GAP States ['Washington', 'Nevada', 'California', 'Oregon']
Agreement between FWS and GAP states ['California', 'Washington', 'Nevada', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'red-crowned parrot',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Amazona viridigenalis',
 'Species Range': 'TX, Mexico',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9022'}

==== GAP Matched Record ====

{'commonname': 'Red-crowned Parrot',
 'doi': 'doi:10.5066/F7TM78F2',
 'gap_speciescode': 'bRCPAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['California', 'Florida', 'Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States ['California', 'Florida']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,522798.902449,10-17,12.832582,144846.873155,1-10,3.555400,48027.278298,1.178874,96819.594857,2.376526,...,3.551197e+06,87.167418,743,Red-crowned Parrot,Amazona viridigenalis,bRCPAx,0,CONUS,B,4.073996e+06
1,474913.734455,10-17,16.867772,104431.947934,1-10,3.709167,27917.447024,0.991559,76514.500910,2.717608,...,2.340596e+06,83.132228,3657,Red-crowned Parrot,Amazona viridigenalis,bRCPAx,06,California,B,2.815510e+06
2,16759.008176,1-10,2.606176,11156.214899,1-10,1.734891,1190.034804,0.185061,9966.180095,1.549830,...,6.262908e+05,97.393824,5934,Red-crowned Parrot,Amazona viridigenalis,bRCPAx,12,Florida,B,6.430498e+05
3,31126.159817,1-10,5.058413,29258.710322,1-10,4.754928,18919.796470,3.074717,10338.913852,1.680210,...,5.842083e+05,94.941587,20490,Red-crowned Parrot,Amazona viridigenalis,bRCPAx,48,Texas,B,6.153345e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'salt marsh sharp-tailed sparrow',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Ammodramus caudacutus',
 'Species Range': 'CT, DE, FL, GA, MA, MD, ME, NC, NH, NJ, NY, PA, RI, SC, VA',
 'Species Record Reference': nan}

==== GAP Matched Record ====

{'commonname': 'Saltmarsh Sharp-tailed Sparrow',
 'doi': 'doi:10.5066/F77D2SGG',
 'gap_speciescode': 'bSSTSx'}

==== State Range Comparison ====
FWS States ['Connecticut', 'Delaware', 'Florida', 'Georgia', 'Massachusetts', 'Maryland', 'Maine', 'North Carolina', 'New Hampshire', 'New Jersey', 'New York', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'Virginia']
GAP States ['Rhode Island', 'Florida', 'New York', 'Maine', 'Massachusetts', 'North Carolina', 'Pennsylvania', 'Delaware', 'District of Columbia', 'Georgia']
Agreement between FWS and GAP states ['Delaware', 'Georgia', 'Maine', 'Massachusetts', 'Pennsylvania', 'Florida', 'North Carolina', 'Rhode Island', 'New York']
FWS States not in GAP States ['New Jersey', 'Virginia', 'Maryland', 'New Hampshire', 'Connecticut', 'South Carolina']
GAP States not in FWS States ['District of Columbia']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,3.941726e+03,17-50,21.897702,3.107301e+03,17-50,17.262170,343.600032,1.908821,2763.700713,15.353348,...,14058.912389,78.102298,18666,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,44,Rhode Island,B,1.800064e+04
1,2.050755e+06,>50,89.459086,1.199024e+06,>50,52.304456,869740.417244,37.940260,329284.031453,14.364196,...,241639.335841,10.540914,5974,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,12,Florida,B,2.292394e+06
2,1.315243e+04,17-50,23.257003,8.693859e+03,10-17,15.373060,566.439665,1.001616,8127.419534,14.371444,...,43400.131197,76.742997,15525,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,36,New York,B,5.655256e+04
3,7.023674e+03,17-50,38.528260,4.184359e+03,17-50,22.953240,5.782266,0.031719,4178.576703,22.921521,...,11206.253739,61.471740,9907,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,23,Maine,B,1.822993e+04
4,4.960895e+04,17-50,45.057214,3.200506e+04,17-50,29.068525,5254.078164,4.772004,26750.986073,24.296521,...,60493.176428,54.942786,10686,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,25,Massachusetts,B,1.101021e+05
5,8.417756e+04,17-50,35.927004,6.785867e+04,17-50,28.962098,27364.128655,11.679017,40494.542575,17.283081,...,150124.080382,64.072996,16000,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,37,North Carolina,B,2.343016e+05
6,7.583664e+01,17-50,23.468685,7.583664e+01,17-50,23.468685,62.937741,19.476944,12.898901,3.991741,...,247.303065,76.531315,18293,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,42,Pennsylvania,B,3.231397e+02
7,3.634532e+04,17-50,46.947212,1.677235e+04,17-50,21.664828,0.000000,0.000000,16772.351867,21.664828,...,41072.101982,53.052788,5237,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,10,Delaware,B,7.741742e+04
8,0.000000e+00,<1,0.000000,0.000000e+00,<1,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.222395,100.000000,5557,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,11,District of Columbia,B,2.223948e-01
9,1.111549e+05,17-50,28.246063,1.056340e+05,17-50,26.843110,46183.847446,11.735977,59450.144614,15.107133,...,282368.727369,71.753937,6519,Saltmarsh Sharp-tailed Sparrow,Ammodramus caudacutus,bSSTSx,13,Georgia,B,3.935237e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': "Bicknell's thrush",
 'Grouping': 'Birds',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Catharus bicknelli',
 'Species Range': 'CT, DE, GA, MA, MD, ME, NC, NH, NJ, NY, PA, RI, SC, VA, VT, Canada, Bahamas, Cuba, Dominican Republic, Haiti, Jamaica',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/606'}

==== GAP Matched Record ====

{'commonname': "Bicknell's Thrush",
 'doi': 'doi:10.5066/F79P2ZZ6',
 'gap_speciescode': 'bBITHx'}

==== State Range Comparison ====
FWS States ['Connecticut', 'Delaware', 'Georgia', 'Massachusetts', 'Maryland', 'Maine', 'North Carolina', 'New Hampshire', 'New Jersey', 'New York', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'Virginia', 'Vermont']
GAP States ['Vermont', 'Maine', 'New York', 'New Hampshire']
Agreement between FWS and GAP states ['Maine', 'Vermont', 'New Hampshire', 'New York']
FWS States not in GAP States ['New Jersey', 'Delaware', 'Maryland', 'Georgia', 'Virginia', 'Massachusetts', 'Connecticut', 'Pennsylvania', 'North Carolina', 'South Carolina', 'Rhode Island']
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'tufted puffin',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Fratercula cirrhata',
 'Species Range': 'CA, OR, WA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/430'}

==== GAP Matched Record ====

{'commonname': 'Tufted Puffin',
 'doi': 'doi:10.5066/F7C24TSG',
 'gap_speciescode': 'bTUPUx'}

==== State Range Comparison ====
FWS States ['California', 'Oregon', 'Washington']
GAP States ['California', 'Washington', 'Oregon']
Agreement between FWS and GAP states ['California', 'Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Florida sandhill crane',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Grus canadensis pratensis',
 'Species Range': 'FL, GA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9906'}

==== GAP Matched Record ====

{'commonname': 'Tufted Puffin',
 'doi': 'doi:10.5066/F7C24TSG',
 'gap_speciescode': 'bTUPUx'}

==== State Range Comparison ====
FWS States ['Florida', 'Georgia']
GAP States ['California', 'Washington', 'Oregon']
Agreement between FWS and GAP states []
FWS States not in GAP States ['Florida', 'Georgia']
GAP States not in FWS States ['California', 'Washington', 'Oregon']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,2.149181e+06,>50,88.112080,1.490959e+05,1-10,6.112634,81143.871960,3.326735,67952.077064,2.785898,...,2.899635e+05,11.887920,3727,Tufted Puffin,Fratercula cirrhata,bTUPUx,06,California,B,2.439144e+06
1,5.311340e+05,17-50,29.609158,2.245776e+05,10-17,12.519542,219586.885614,12.241322,4990.762670,0.278220,...,1.262683e+06,70.390842,22536,Tufted Puffin,Fratercula cirrhata,bTUPUx,53,Washington,B,1.793817e+06
2,6.946118e+05,>50,96.468117,6.866939e+05,>50,95.368471,684982.343188,95.130770,1711.550711,0.237701,...,2.543107e+04,3.531883,17804,Tufted Puffin,Fratercula cirrhata,bTUPUx,41,Oregon,B,7.200429e+05
3,3.374926e+06,17-50,49.787919,1.060367e+06,10-17,15.642856,985713.100761,14.541533,74654.390444,1.101324,...,3.403679e+06,50.212081,857,Tufted Puffin,Fratercula cirrhata,bTUPUx,0,CONUS,B,6.778605e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'black rail',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Laterallus jamaicensis',
 'Species Range': 'AL, AR, FL, GA, LA, MS, NC, SC, TX, VA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7717'}

==== GAP Matched Record ====

{'commonname': 'Black Rail',
 'doi': 'doi:10.5066/F74X563W',
 'gap_speciescode': 'bBLRAx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Arkansas', 'Florida', 'Georgia', 'Louisiana', 'Mississippi', 'North Carolina', 'South Carolina', 'Texas', 'Virginia']
GAP States ['Georgia', 'Louisiana', 'Colorado', 'Arizona', 'Delaware', 'California', 'Texas', 'Virginia', 'Maryland', 'North Carolina']
Agreement between FWS and GAP states ['Virginia', 'Georgia', 'Louisiana', 'Texas', 'North Carolina']
FWS States not in GAP States ['Alabama', 'Florida', 'South Carolina', 'Arkansas', 'Mississippi']
GAP States not in FWS States ['Colorado', 'Arizona', 'Delaware', 'Maryland', 'California']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,111986.255958,17-50,27.294503,106440.173366,17-50,25.942751,46214.982724,11.264016,60225.190642,14.678735,...,298302.428284,72.705497,6330,Black Rail,Laterallus jamaicensis,bBLRAx,13,Georgia,B,410288.684242
1,236670.145471,17-50,27.907196,212606.578679,17-50,25.069716,3352.379862,0.395299,209254.198818,24.674417,...,611391.222487,72.092804,9298,Black Rail,Laterallus jamaicensis,bBLRAx,22,Louisiana,B,848061.367958
2,7488.923940,10-17,11.222759,1587.231994,1-10,2.378596,0.000000,0.000000,1587.231994,2.378596,...,59240.871067,88.777241,4169,Black Rail,Laterallus jamaicensis,bBLRAx,08,Colorado,B,66729.795007
3,7121.305265,>50,58.319674,6820.182647,>50,55.853641,6779.484391,55.520344,40.698256,0.333297,...,5089.505980,41.680326,2292,Black Rail,Laterallus jamaicensis,bBLRAx,04,Arizona,B,12210.811244
4,41735.728193,17-50,44.651206,18804.373547,17-50,20.117966,0.000000,0.000000,18804.373547,20.117966,...,51734.822724,55.348794,5055,Black Rail,Laterallus jamaicensis,bBLRAx,10,Delaware,B,93470.550917
5,56924.628778,17-50,42.804728,37629.429814,17-50,28.295617,464.805222,0.349512,37164.624592,27.946105,...,76062.149800,57.195272,3433,Black Rail,Laterallus jamaicensis,bBLRAx,06,California,B,132986.778578
6,161936.804858,17-50,28.648329,156948.933321,17-50,27.765922,51919.188049,9.185052,105029.745272,18.580870,...,403320.609024,71.351671,20235,Black Rail,Laterallus jamaicensis,bBLRAx,48,Texas,B,565257.413881
7,93933.576980,17-50,40.303267,68466.253940,17-50,29.376223,3219.610141,1.381410,65246.643800,27.994813,...,139133.327246,59.696733,21852,Black Rail,Laterallus jamaicensis,bBLRAx,51,Virginia,B,233066.904226
8,97703.614357,17-50,39.694730,39452.400341,10-17,16.028602,3931.718428,1.597367,35520.681913,14.431236,...,148433.879576,60.305270,10100,Black Rail,Laterallus jamaicensis,bBLRAx,24,Maryland,B,246137.493933
9,94096.147610,17-50,34.934071,74792.275247,17-50,27.767329,28979.160004,10.758783,45813.115243,17.008546,...,175257.366368,65.065929,15806,Black Rail,Laterallus jamaicensis,bBLRAx,37,North Carolina,B,269353.513978

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'black-backed woodpecker (Black Hills population)',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R6',
 'Scientific Name': 'picoides arcticus',
 'Species Range': 'SD, WY',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7951'}

==== GAP Matched Record ====

{'commonname': 'Black-backed Woodpecker',
 'doi': 'doi:10.5066/F7RV0M0H',
 'gap_speciescode': 'bBBWOx'}

==== State Range Comparison ====
FWS States ['South Dakota', 'Wyoming']
GAP States ['Idaho', 'Wisconsin', 'New York', 'Oregon', 'New Hampshire', 'Maine', 'North Dakota', 'Washington', 'California']
Agreement between FWS and GAP states []
FWS States not in GAP States ['Wyoming', 'South Dakota']
GAP States not in FWS States ['Washington', 'New Hampshire', 'Maine', 'Wisconsin', 'Idaho', 'California', 'North Dakota', 'Oregon', 'New York']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.415367e+07,>50,84.951747,3.334456e+06,17-50,20.013739,2.838242e+06,17.035413,4.962140e+05,2.978327,...,2.507164e+06,15.048253,6773,Black-backed Woodpecker,Picoides arcticus,bBBWOx,16,Idaho,B,1.666083e+07
1,1.255002e+06,17-50,38.081200,6.483924e+05,17-50,19.674524,2.421858e+04,0.734877,6.241738e+05,18.939646,...,2.040592e+06,61.918800,23147,Black-backed Woodpecker,Picoides arcticus,bBBWOx,55,Wisconsin,B,3.295594e+06
2,4.962196e+05,17-50,42.517037,4.451769e+05,17-50,38.143599,2.337047e+05,20.024265,2.114721e+05,18.119334,...,6.708881e+05,57.482963,15311,Black-backed Woodpecker,Picoides arcticus,bBBWOx,36,New York,B,1.167108e+06
3,1.096753e+07,>50,75.103164,1.868977e+06,10-17,12.798336,1.521010e+06,10.415535,3.479672e+05,2.382801,...,3.635755e+06,24.896836,17549,Black-backed Woodpecker,Picoides arcticus,bBBWOx,41,Oregon,B,1.460328e+07
4,3.365199e+05,>50,54.890552,7.914143e+04,10-17,12.908946,3.564189e+04,5.813632,4.349954e+04,7.095313,...,2.765544e+05,45.109448,13894,Black-backed Woodpecker,Picoides arcticus,bBBWOx,33,New Hampshire,B,6.130743e+05
5,6.535292e+07,>50,70.373842,1.984031e+07,17-50,21.364593,1.497369e+07,16.124085,4.866616e+06,5.240507,...,2.751244e+07,29.626158,340,Black-backed Woodpecker,Picoides arcticus,bBBWOx,0,CONUS,B,9.286536e+07
6,1.270196e+06,17-50,18.385125,5.295646e+05,1-10,7.665047,1.353575e+05,1.959198,3.942071e+05,5.705849,...,5.638628e+06,81.614875,9731,Black-backed Woodpecker,Picoides arcticus,bBBWOx,23,Maine,B,6.908824e+06
7,2.891133e+00,1-10,2.376600,2.668738e+00,1-10,2.193784,0.000000e+00,0.000000,2.668738e+00,2.193784,...,1.187588e+02,97.623400,16236,Black-backed Woodpecker,Picoides arcticus,bBBWOx,38,North Dakota,B,1.216500e+02
8,8.307395e+06,>50,69.741800,3.097009e+06,17-50,25.999840,2.651104e+06,22.256408,4.459043e+05,3.743432,...,3.604249e+06,30.258200,22297,Black-backed Woodpecker,Picoides arcticus,bBBWOx,53,Washington,B,1.191164e+07
9,6.994135e+06,>50,76.103354,2.115906e+06,17-50,23.023220,1.845579e+06,20.081786,2.703269e+05,2.941434,...,2.196176e+06,23.896646,3416,Black-backed Woodpecker,Picoides arcticus,bBBWOx,06,California,B,9.190312e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'black-backed woodpecker (Oregon Cascades-California population)',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'picoides arcticus',
 'Species Range': 'CA, ND, OR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7951'}

==== GAP Matched Record ====

{'commonname': 'Black-backed Woodpecker',
 'doi': 'doi:10.5066/F7RV0M0H',
 'gap_speciescode': 'bBBWOx'}

==== State Range Comparison ====
FWS States ['California', 'North Dakota', 'Oregon']
GAP States ['Idaho', 'Wisconsin', 'New York', 'Oregon', 'New Hampshire', 'Maine', 'North Dakota', 'Washington', 'California']
Agreement between FWS and GAP states ['California', 'Oregon', 'North Dakota']
FWS States not in GAP States []
GAP States not in FWS States ['Washington', 'New Hampshire', 'Maine', 'Wisconsin', 'Idaho', 'New York']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.415367e+07,>50,84.951747,3.334456e+06,17-50,20.013739,2.838242e+06,17.035413,4.962140e+05,2.978327,...,2.507164e+06,15.048253,6773,Black-backed Woodpecker,Picoides arcticus,bBBWOx,16,Idaho,B,1.666083e+07
1,1.255002e+06,17-50,38.081200,6.483924e+05,17-50,19.674524,2.421858e+04,0.734877,6.241738e+05,18.939646,...,2.040592e+06,61.918800,23147,Black-backed Woodpecker,Picoides arcticus,bBBWOx,55,Wisconsin,B,3.295594e+06
2,4.962196e+05,17-50,42.517037,4.451769e+05,17-50,38.143599,2.337047e+05,20.024265,2.114721e+05,18.119334,...,6.708881e+05,57.482963,15311,Black-backed Woodpecker,Picoides arcticus,bBBWOx,36,New York,B,1.167108e+06
3,1.096753e+07,>50,75.103164,1.868977e+06,10-17,12.798336,1.521010e+06,10.415535,3.479672e+05,2.382801,...,3.635755e+06,24.896836,17549,Black-backed Woodpecker,Picoides arcticus,bBBWOx,41,Oregon,B,1.460328e+07
4,3.365199e+05,>50,54.890552,7.914143e+04,10-17,12.908946,3.564189e+04,5.813632,4.349954e+04,7.095313,...,2.765544e+05,45.109448,13894,Black-backed Woodpecker,Picoides arcticus,bBBWOx,33,New Hampshire,B,6.130743e+05
5,6.535292e+07,>50,70.373842,1.984031e+07,17-50,21.364593,1.497369e+07,16.124085,4.866616e+06,5.240507,...,2.751244e+07,29.626158,340,Black-backed Woodpecker,Picoides arcticus,bBBWOx,0,CONUS,B,9.286536e+07
6,1.270196e+06,17-50,18.385125,5.295646e+05,1-10,7.665047,1.353575e+05,1.959198,3.942071e+05,5.705849,...,5.638628e+06,81.614875,9731,Black-backed Woodpecker,Picoides arcticus,bBBWOx,23,Maine,B,6.908824e+06
7,2.891133e+00,1-10,2.376600,2.668738e+00,1-10,2.193784,0.000000e+00,0.000000,2.668738e+00,2.193784,...,1.187588e+02,97.623400,16236,Black-backed Woodpecker,Picoides arcticus,bBBWOx,38,North Dakota,B,1.216500e+02
8,8.307395e+06,>50,69.741800,3.097009e+06,17-50,25.999840,2.651104e+06,22.256408,4.459043e+05,3.743432,...,3.604249e+06,30.258200,22297,Black-backed Woodpecker,Picoides arcticus,bBBWOx,53,Washington,B,1.191164e+07
9,6.994135e+06,>50,76.103354,2.115906e+06,17-50,23.023220,1.845579e+06,20.081786,2.703269e+05,2.941434,...,2.196176e+06,23.896646,3416,Black-backed Woodpecker,Picoides arcticus,bBBWOx,06,California,B,9.190312e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'northern spotted owl',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Strix occidentalis caurina',
 'Species Range': 'CA, OR, WA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1123'}

==== GAP Matched Record ====

{'commonname': 'Northern Spotted Owl',
 'doi': 'doi:10.5066/F78C9TM9',
 'gap_speciescode': 'bSPOWc'}

==== State Range Comparison ====
FWS States ['California', 'Oregon', 'Washington']
GAP States ['Washington', 'California', 'Oregon']
Agreement between FWS and GAP states ['California', 'Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'California spotted owl',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Strix occidentalis occidentalis',
 'Species Range': 'CA, OR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7266'}

==== GAP Matched Record ====

{'commonname': 'California Spotted Owl',
 'doi': 'doi:10.5066/F70V8B46',
 'gap_speciescode': 'bSPOWo'}

==== State Range Comparison ====
FWS States ['California', 'Oregon']
GAP States ['California', 'Nevada']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States ['Oregon']
GAP States not in FWS States ['Nevada']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,6.929935e+06,>50,63.200451,1.542698e+06,10-17,14.069284,1.288931e+06,11.754944,253767.638598,2.314340,...,4.035074e+06,36.799549,3707,California Spotted Owl,Strix occidentalis,bSPOWo,06,California,B,1.096501e+07
1,1.054974e+04,>50,78.990575,1.327697e+02,<1,0.994105,0.000000e+00,0.000000,132.769721,0.994105,...,2.805956e+03,21.009425,13585,California Spotted Owl,Strix occidentalis,bSPOWo,32,Nevada,B,1.335570e+04
2,6.940485e+06,>50,63.219661,1.542831e+06,10-17,14.053377,1.288931e+06,11.740643,253900.408319,2.312734,...,4.037880e+06,36.780339,821,California Spotted Owl,Strix occidentalis,bSPOWo,0,CONUS,B,1.097837e+07

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'lesser prairie-chicken',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Tympanuchus pallidicinctus',
 'Species Range': 'CO, KS, NM, OK, TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1924'}

==== GAP Matched Record ====

{'commonname': 'Lesser Prairie-chicken',
 'doi': 'doi:10.5066/F7T72FSX',
 'gap_speciescode': 'bLEPCx'}

==== State Range Comparison ====
FWS States ['Colorado', 'Kansas', 'New Mexico', 'Oklahoma', 'Texas']
GAP States ['Oklahoma', 'Kansas', 'Colorado', 'New Mexico', 'Texas']
Agreement between FWS and GAP states ['Colorado', 'Oklahoma', 'Kansas', 'Texas', 'New Mexico']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'golden-winged warbler',
 'Grouping': 'Birds',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Vermivora chrysoptera',
 'Species Range': 'AL, AR, CO, CT, DC, DE, FL, GA, IA, IL, IN, KS, KY, LA, MA, MD, MI, MN, MO, MS, NC, ND, NE, NH, NJ, NY, OH, OK, PA, SC, SD, TN, TX, VA, VT, WI, WV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/8745'}

==== GAP Matched Record ====

{'commonname': 'Golden-winged Warbler',
 'doi': 'doi:10.5066/F7SN078S',
 'gap_speciescode': 'bGWWAx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Arkansas', 'Colorado', 'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Iowa', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts', 'Maryland', 'Michigan', 'Minnesota', 'Missouri', 'Mississippi', 'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire', 'New Jersey', 'New York', 'Ohio', 'Oklahoma', 'Pennsylvania', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Virginia', 'Vermont', 'Wisconsin', 'West Virginia']
GAP States ['Indiana', 'Georgia', 'North Carolina', 'Tennessee', 'Illinois', 'Maryland', 'Massachusetts', 'New York', 'New Jersey', 'Minnesota']
Agreement between FWS and GAP states ['New Jersey', 'Maryland', 'Georgia', 'Massachusetts', 'Indiana', 'Tennessee', 'North Carolina', 'Illinois', 'Minnesota', 'New York']
FWS States not in GAP States ['Vermont', 'Iowa', 'Delaware', 'New Hampshire', 'Missouri', 'South Carolina', 'South Dakota', 'Pennsylvania', 'Texas', 'North Dakota', 'Arkansas', 'District of Columbia', 'Colorado', 'Oklahoma', 'Connecticut', 'Alabama', 'West Virginia', 'Michigan', 'Nebraska', 'Virginia', 'Louisiana', 'Wisconsin', 'Ohio', 'Kansas', 'Florida', 'Kentucky', 'Mississippi']
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'red tree vole',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R1',
 'Scientific Name': 'Arborimus longicaudus',
 'Species Range': 'OR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp0/profile/speciesProfile?spcode=A0J3'}

==== GAP Matched Record ====

{'commonname': 'Red Tree Vole',
 'doi': 'doi:10.5066/F74B2ZPM',
 'gap_speciescode': 'mRTVOx'}

==== State Range Comparison ====
FWS States ['Oregon']
GAP States ['Washington', 'California', 'Oregon']
Agreement between FWS and GAP states ['Oregon']
FWS States not in GAP States []
GAP States not in FWS States ['California', 'Washington']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,3.577977e+04,>50,91.328338,3381.735981,1-10,8.631926,880.238788,2.246821,2501.497193,6.385104,...,3.397304e+03,8.671662,22672,Red Tree Vole,Arborimus longicaudus,mRTVOx,53,Washington,M,3.917708e+04
1,4.746550e+06,>50,62.403300,630076.392398,1-10,8.283669,437017.653225,5.745509,193058.739173,2.538160,...,2.859698e+06,37.596700,1269,Red Tree Vole,Arborimus longicaudus,mRTVOx,0,CONUS,M,7.606248e+06
2,3.070092e+05,>50,87.933731,91283.297637,17-50,26.145410,35138.829968,10.064482,56144.467669,16.080928,...,4.212781e+04,12.066269,3945,Red Tree Vole,Arborimus longicaudus,mRTVOx,06,California,M,3.491370e+05
3,4.403761e+06,>50,61.011376,535411.358780,1-10,7.417793,400998.584469,5.555587,134412.774311,1.862206,...,2.814173e+06,38.988624,17956,Red Tree Vole,Arborimus longicaudus,mRTVOx,41,Oregon,M,7.217934e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'white-tailed prairie dog',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R6',
 'Scientific Name': 'Cynomys leucurus',
 'Species Range': 'CO, MT, UT, WY',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/7401'}

==== GAP Matched Record ====

{'commonname': 'White-tailed Prairie Dog',
 'doi': 'doi:10.5066/F7D798VP',
 'gap_speciescode': 'mWTPDx'}

==== State Range Comparison ====
FWS States ['Colorado', 'Montana', 'Utah', 'Wyoming']
GAP States ['Wyoming', 'Montana', 'Colorado', 'Idaho', 'Utah']
Agreement between FWS and GAP states ['Colorado', 'Wyoming', 'Montana', 'Utah']
FWS States not in GAP States []
GAP States not in FWS States ['Idaho']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.846850e+07,>50,60.448360,1.015315e+06,1-10,3.323179,155086.821301,0.507607,8.602281e+05,2.815571,...,1.208402e+07,39.551640,23899,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,56,Wyoming,M,3.055252e+07
1,2.492052e+05,17-50,29.537378,1.465515e+04,1-10,1.737021,0.000000,0.000000,1.465515e+04,1.737021,...,5.944892e+05,70.462622,12872,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,30,Montana,M,8.436944e+05
2,2.938549e+06,>50,58.790701,3.730589e+05,1-10,7.463682,38204.542877,0.764347,3.348544e+05,6.699335,...,2.059774e+06,41.209299,4568,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,08,Colorado,M,4.998323e+06
3,1.946956e+04,17-50,38.316096,2.130543e+02,<1,0.419291,207.049599,0.407474,6.004661e+00,0.011817,...,3.134344e+04,61.683904,7137,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,16,Idaho,M,5.081300e+04
4,2.555857e+07,>50,60.826980,1.743540e+06,1-10,4.149462,252238.451658,0.600304,1.491302e+06,3.549158,...,1.645990e+07,39.173020,1383,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,0,CONUS,M,4.201847e+07
5,3.882842e+06,>50,69.670953,3.402984e+05,1-10,6.106071,58740.037881,1.053989,2.815583e+05,5.052082,...,1.690273e+06,30.329047,21376,White-tailed Prairie Dog,Cynomys leucurus,mWTPDx,49,Utah,M,5.573115e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Texas kangaroo rat',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Dipodomys elator',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/2985'}

==== GAP Matched Record ====

{'commonname': 'Texas Kangaroo Rat',
 'doi': 'doi:10.5066/F7M32T6M',
 'gap_speciescode': 'mTKRAx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Oklahoma', 'Texas']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States ['Oklahoma']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,0.00000,<1,0.000000,0.0,<1,0.0,0.0,0.0,0.0,0.0,...,37849.823103,100.000000,17380,Texas Kangaroo Rat,Dipodomys elator,mTKRAx,40,Oklahoma,M,37849.823103
1,1436.44829,<1,0.159049,0.0,<1,0.0,0.0,0.0,0.0,0.0,...,901710.787885,99.840951,1335,Texas Kangaroo Rat,Dipodomys elator,mTKRAx,0,CONUS,M,903147.236176
2,1436.44829,<1,0.166006,0.0,<1,0.0,0.0,0.0,0.0,0.0,...,863860.964783,99.833994,20761,Texas Kangaroo Rat,Dipodomys elator,mTKRAx,48,Texas,M,865297.413073

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Fisher (Northern Rocky Mountains population)',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R6',
 'Scientific Name': 'Martes pennanti',
 'Species Range': 'MT, ID, (WY - accidental)',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3651'}

==== GAP Matched Record ====

{'commonname': 'Fisher',
 'doi': 'doi:10.5066/F7Q81BF7',
 'gap_speciescode': 'mFISHx'}

==== State Range Comparison ====
FWS States ['Montana', 'Idaho']
GAP States ['Oregon', 'Michigan', 'New York', 'Idaho', 'Utah', 'West Virginia', 'Maine', 'California', 'Washington', 'Wisconsin']
Agreement between FWS and GAP states ['Idaho']
FWS States not in GAP States ['Montana']
GAP States not in FWS States ['Washington', 'Maine', 'Wisconsin', 'Utah', 'California', 'West Virginia', 'Michigan', 'Oregon', 'New York']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,4.218705e+06,>50,68.964142,571572.760235,1-10,9.343631,438810.155659,7.173330,132762.604576,2.170301,...,1.898539e+06,31.035858,17900,Fisher,Martes pennanti,mFISHx,41,Oregon,M,6.117245e+06
1,3.451566e+05,>50,70.690872,287960.845694,>50,58.976722,103732.071364,21.245171,184228.774331,37.731550,...,1.431053e+05,29.309128,11107,Fisher,Martes pennanti,mFISHx,26,Michigan,M,4.882619e+05
2,2.269753e+05,17-50,41.835523,172293.510297,17-50,31.756714,84016.323751,15.485681,88277.186546,16.271033,...,3.155667e+05,58.164477,15589,Fisher,Martes pennanti,mFISHx,36,New York,M,5.425420e+05
3,3.739060e+06,>50,88.633419,747624.520982,17-50,17.722239,576094.492181,13.656165,171530.028801,4.066073,...,4.795069e+05,11.366581,7060,Fisher,Martes pennanti,mFISHx,16,Idaho,M,4.218567e+06
4,1.780804e+04,>50,51.116502,597.352548,1-10,1.714650,0.000000,0.000000,597.352548,1.714650,...,1.703011e+04,48.883498,21289,Fisher,Martes pennanti,mFISHx,49,Utah,M,3.483815e+04
5,4.814181e+04,17-50,38.740309,3423.323817,1-10,2.754791,65.384084,0.052615,3357.939733,2.702175,...,7.612620e+04,61.259691,23010,Fisher,Martes pennanti,mFISHx,54,West Virginia,M,1.242680e+05
6,1.437790e+06,10-17,16.740638,620523.199527,1-10,7.224946,142746.798653,1.662046,477776.400873,5.562900,...,7.150831e+06,83.259362,9961,Fisher,Martes pennanti,mFISHx,23,Maine,M,8.588621e+06
7,3.957547e+06,>50,65.042783,952482.418545,10-17,15.654170,763096.307808,12.541585,189386.110737,3.112585,...,2.126982e+06,34.957217,3853,Fisher,Martes pennanti,mFISHx,06,California,M,6.084529e+06
8,1.021821e+06,>50,79.022650,361353.590194,17-50,27.945326,326643.982273,25.261054,34709.607921,2.684272,...,2.712525e+05,20.977350,22621,Fisher,Martes pennanti,mFISHx,53,Washington,M,1.293073e+06
9,3.811957e+05,>50,54.485864,241391.810381,17-50,34.503125,16121.179767,2.304267,225270.630614,32.198858,...,3.184274e+05,45.514136,23399,Fisher,Martes pennanti,mFISHx,55,Wisconsin,M,6.996230e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'little brown bat',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Myotis lucifugus',
 'Species Range': 'AK, AL, AR, CA, CO, CT, DC, DE, FL, GA, IA, ID, IL, IN, KS, KY, MA, MD, ME, MI, MN, MO, MS, MT, NC, ND, NE, NH, NJ, NM, NV, NY, OH, OK, OR, PA, RI, SC, SD, TN, UT, VA, VT, WA, WI, WV, WY',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9051'}

==== GAP Matched Record ====

{'commonname': 'Little Brown Myotis',
 'doi': 'doi:10.5066/F7GF0RXN',
 'gap_speciescode': 'mLBMYx'}

==== State Range Comparison ====
FWS States ['Alaska', 'Alabama', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Iowa', 'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota', 'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada', 'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin', 'West Virginia', 'Wyoming']
GAP States ['Kentucky', 'Arizona', 'Arkansas', 'New York', 'Texas', 'Connecticut', 'Kansas', 'Pennsylvania', 'South Carolina', 'California']
Agreement between FWS and GAP states ['Connecticut', 'Kansas', 'Pennsylvania', 'California', 'Kentucky', 'South Carolina', 'Arkansas', 'New York']
FWS States not in GAP States ['Vermont', 'Iowa', 'Delaware', 'Maryland', 'Missouri', 'Maine', 'New Hampshire', 'Nevada', 'Indiana', 'New Mexico', 'Rhode Island', 'Minnesota', 'New Jersey', 'Georgia', 'South Dakota', 'Utah', 'Tennessee', 'North Dakota', 'Montana', 'District of Columbia', 'Colorado', 'Washington', 'Oklahoma', 'Idaho', 'Alaska', 'Alabama', 'West Virginia', 'Michigan', 'North Carolina', 'Nebraska', 'Illinois', 'Virginia', 'Massachusetts', 'Wisconsin', 'Ohio', 'Wyoming', 'Florida', 'Oregon', 'Mississippi']
GAP States not in FWS States ['Texas', 'Arizona']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.225391e+06,1-10,8.447364,3.092890e+05,1-10,2.132117,1.129643e+05,0.778732,1.963246e+05,1.353385,...,1.328080e+07,91.552636,9111,Little Brown Myotis,Myotis lucifugus,mLBMYx,21,Kentucky,M,1.450619e+07
1,4.177962e+06,>50,59.376488,5.978214e+05,1-10,8.496136,2.910648e+05,4.136564,3.067565e+05,4.359572,...,2.858429e+06,40.623512,2676,Little Brown Myotis,Myotis lucifugus,mLBMYx,04,Arizona,M,7.036391e+06
2,3.430406e+06,17-50,21.405392,2.407526e+06,10-17,15.022722,1.686391e+05,1.052291,2.238886e+06,13.970430,...,1.259549e+07,78.594608,3207,Little Brown Myotis,Myotis lucifugus,mLBMYx,05,Arkansas,M,1.602589e+07
3,4.479530e+06,17-50,21.358415,3.085143e+06,10-17,14.709975,1.231900e+06,5.873706,1.853243e+06,8.836269,...,1.649361e+07,78.641585,15596,Little Brown Myotis,Myotis lucifugus,mLBMYx,36,New York,M,2.097314e+07
4,4.202818e+03,1-10,1.616384,4.202818e+03,1-10,1.616384,0.000000e+00,0.000000,4.202818e+03,1.616384,...,2.558108e+05,98.383616,20691,Little Brown Myotis,Myotis lucifugus,mLBMYx,48,Texas,M,2.600136e+05
5,2.826534e+05,10-17,10.930039,6.981441e+04,1-10,2.699682,2.174799e+03,0.084098,6.763961e+04,2.615584,...,2.303370e+06,89.069961,4927,Little Brown Myotis,Myotis lucifugus,mLBMYx,09,Connecticut,M,2.586024e+06
6,5.869801e+04,1-10,2.192651,5.307186e+04,1-10,1.982487,3.597904e+03,0.134399,4.947396e+04,1.848089,...,2.618336e+06,97.807349,8681,Little Brown Myotis,Myotis lucifugus,mLBMYx,20,Kansas,M,2.677034e+06
7,4.479015e+06,17-50,22.738553,6.527469e+05,1-10,3.313791,2.846298e+05,1.444976,3.681171e+05,1.868815,...,1.521887e+07,77.261447,18363,Little Brown Myotis,Myotis lucifugus,mLBMYx,42,Pennsylvania,M,1.969789e+07
8,7.300091e+05,1-10,8.311888,3.269711e+05,1-10,3.722895,3.433443e+04,0.390932,2.926367e+05,3.331963,...,8.052702e+06,91.688112,19141,Little Brown Myotis,Myotis lucifugus,mLBMYx,45,South Carolina,M,8.782711e+06
9,1.838215e+07,>50,58.940424,5.875099e+06,17-50,18.837883,4.607118e+06,14.772235,1.267982e+06,4.065649,...,1.280553e+07,41.059576,3881,Little Brown Myotis,Myotis lucifugus,mLBMYx,06,California,M,3.118768e+07

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Penasco least chipmunk',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Tamias minimus atristriatus',
 'Species Range': 'NM',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/5126'}

==== GAP Matched Record ====

{'commonname': 'Penasco Chipmunk',
 'doi': 'doi:10.5066/F7348HR1',
 'gap_speciescode': 'mLECHt'}

==== State Range Comparison ====
FWS States ['New Mexico']
GAP States ['New Mexico']
Agreement between FWS and GAP states ['New Mexico']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Sierra Nevada red fox',
 'Grouping': 'Mammals',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Vulpes vulpes necator',
 'Species Range': 'CA, OR',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4252'}

==== GAP Matched Record ====

{'commonname': 'Sierra Nevada Red Fox',
 'doi': 'doi:10.5066/F72J698B',
 'gap_speciescode': 'mREFOn'}

==== State Range Comparison ====
FWS States ['California', 'Oregon']
GAP States ['California', 'Nevada', 'Oregon']
Agreement between FWS and GAP states ['California', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States ['Nevada']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,2.985648e+06,>50,85.662657,1.226431e+06,17-50,35.188111,1.167519e+06,33.497846,58911.726700,1.690264,...,499707.423516,14.337343,3938,Sierra Nevada Red Fox,Vulpes vulpes,mREFOn,06,California,M,3.485356e+06
1,3.506233e+04,>50,93.206030,7.373279e+03,17-50,19.600355,7.026343e+03,18.678096,346.935955,0.922258,...,2555.761535,6.793970,13742,Sierra Nevada Red Fox,Vulpes vulpes,mREFOn,32,Nevada,M,3.761809e+04
2,8.925288e+05,>50,93.177974,2.797071e+05,17-50,29.200786,2.634176e+05,27.500196,16289.532663,1.700590,...,65346.499084,6.822026,17951,Sierra Nevada Red Fox,Vulpes vulpes,mREFOn,41,Oregon,M,9.578753e+05
3,3.913239e+06,>50,87.332542,1.513511e+06,17-50,33.777331,1.437963e+06,32.091307,75548.195318,1.686024,...,567609.684135,12.667458,1254,Sierra Nevada Red Fox,Vulpes vulpes,mREFOn,0,CONUS,M,4.480849e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'western pond turtle',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Actinemys marmorata',
 'Species Range': 'CA, OR, WA, Mexico',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1833'}

==== GAP Matched Record ====

{'commonname': 'Western Pond Turtle',
 'doi': 'doi:10.5066/F7H993NJ',
 'gap_speciescode': 'rWPTUx'}

==== State Range Comparison ====
FWS States ['California', 'Oregon', 'Washington']
GAP States ['Nevada', 'Oregon', 'Washington', 'California']
Agreement between FWS and GAP states ['California', 'Washington', 'Oregon']
FWS States not in GAP States []
GAP States not in FWS States ['Nevada']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,5202.037770,17-50,20.643186,2545.976162,10-17,10.103167,3.113528,0.012355,2542.862634,10.090812,...,1.999774e+04,79.356814,13842,Western Pond Turtle,Actinemys marmorata,rWPTUx,32,Nevada,R,2.519978e+04
1,118545.124665,17-50,30.628176,26665.808848,1-10,6.889571,6005.550338,1.551637,20660.258511,5.337934,...,2.685009e+05,69.371824,18038,Western Pond Turtle,Actinemys marmorata,rWPTUx,41,Oregon,R,3.870460e+05
2,18440.090794,17-50,19.491669,1745.132332,1-10,1.844652,336.928187,0.356142,1408.204145,1.488509,...,7.616490e+04,80.508331,22736,Western Pond Turtle,Actinemys marmorata,rWPTUx,53,Washington,R,9.460499e+04
3,679735.826449,17-50,37.578743,186498.536097,10-17,10.310448,29093.693348,1.608425,157404.842749,8.702022,...,1.129095e+06,62.421257,1715,Western Pond Turtle,Actinemys marmorata,rWPTUx,0,CONUS,R,1.808831e+06
4,537548.573220,17-50,41.287010,155541.618755,10-17,11.946545,22748.101296,1.747193,132793.517459,10.199352,...,7.644313e+05,58.712990,4105,Western Pond Turtle,Actinemys marmorata,rWPTUx,06,California,R,1.301980e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Arizona striped whiptail',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'aspidoscelis arizonae',
 'Species Range': 'AZ',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/8793'}

==== GAP Matched Record ====

{'commonname': 'Western Pond Turtle',
 'doi': 'doi:10.5066/F7H993NJ',
 'gap_speciescode': 'rWPTUx'}

==== State Range Comparison ====
FWS States ['Arizona']
GAP States ['Nevada', 'Oregon', 'Washington', 'California']
Agreement between FWS and GAP states []
FWS States not in GAP States ['Arizona']
GAP States not in FWS States ['California', 'Washington', 'Nevada', 'Oregon']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,5202.037770,17-50,20.643186,2545.976162,10-17,10.103167,3.113528,0.012355,2542.862634,10.090812,...,1.999774e+04,79.356814,13842,Western Pond Turtle,Actinemys marmorata,rWPTUx,32,Nevada,R,2.519978e+04
1,118545.124665,17-50,30.628176,26665.808848,1-10,6.889571,6005.550338,1.551637,20660.258511,5.337934,...,2.685009e+05,69.371824,18038,Western Pond Turtle,Actinemys marmorata,rWPTUx,41,Oregon,R,3.870460e+05
2,18440.090794,17-50,19.491669,1745.132332,1-10,1.844652,336.928187,0.356142,1408.204145,1.488509,...,7.616490e+04,80.508331,22736,Western Pond Turtle,Actinemys marmorata,rWPTUx,53,Washington,R,9.460499e+04
3,679735.826449,17-50,37.578743,186498.536097,10-17,10.310448,29093.693348,1.608425,157404.842749,8.702022,...,1.129095e+06,62.421257,1715,Western Pond Turtle,Actinemys marmorata,rWPTUx,0,CONUS,R,1.808831e+06
4,537548.573220,17-50,41.287010,155541.618755,10-17,11.946545,22748.101296,1.747193,132793.517459,10.199352,...,7.644313e+05,58.712990,4105,Western Pond Turtle,Actinemys marmorata,rWPTUx,06,California,R,1.301980e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'southern rubber boa',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Charina bottae umbratica',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3525'}

==== GAP Matched Record ====

{'commonname': 'Southern Rubber Boa',
 'doi': 'doi:10.5066/F7Q52N2C',
 'gap_speciescode': 'rSRBOx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'spotted turtle',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Clemmys guttata',
 'Species Range': 'CT, DC, DE, FL, GA, IL, IN, MA, MD, ME, MI, NC, NH, NJ, NY, OH, PA, RI, SC, VA, VT, WV, Canada',
 'Species Record Reference': nan}

==== GAP Matched Record ====

{'commonname': 'Spotted Turtle',
 'doi': 'doi:10.5066/F7ZP44K0',
 'gap_speciescode': 'rSPTUx'}

==== State Range Comparison ====
FWS States ['Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Illinois', 'Indiana', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'North Carolina', 'New Hampshire', 'New Jersey', 'New York', 'Ohio', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'Virginia', 'Vermont', 'West Virginia']
GAP States ['Maine', 'Massachusetts', 'Georgia', 'Connecticut', 'Alabama', 'Rhode Island', 'West Virginia', 'Wisconsin', 'Delaware']
Agreement between FWS and GAP states ['Delaware', 'Georgia', 'Maine', 'Massachusetts', 'Connecticut', 'West Virginia', 'Rhode Island']
FWS States not in GAP States ['New Jersey', 'Vermont', 'District of Columbia', 'Maryland', 'New Hampshire', 'Virginia', 'Michigan', 'Ohio', 'Indiana', 'Pennsylvania', 'Florida', 'North Carolina', 'South Carolina', 'Illinois', 'New York']
GAP States not in FWS States ['Alabama', 'Wisconsin']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.827507e+04,1-10,3.097932,8.010885e+03,1-10,1.357979,3.069049e+01,0.005203,7.980194e+03,1.352777,...,5.716370e+05,96.902068,10017,Spotted Turtle,Clemmys guttata,rSPTUx,23,Maine,R,5.899121e+05
1,2.523799e+05,17-50,20.946524,8.214665e+04,1-10,6.817844,1.430243e+04,1.187045,6.784422e+04,5.630799,...,9.524973e+05,79.053476,10804,Spotted Turtle,Clemmys guttata,rSPTUx,25,Massachusetts,R,1.204877e+06
2,9.716159e+05,1-10,6.753928,9.407684e+05,1-10,6.539500,4.722454e+05,3.282688,4.685230e+05,3.256812,...,1.341432e+07,93.246072,6732,Spotted Turtle,Clemmys guttata,rSPTUx,13,Georgia,R,1.438594e+07
3,8.100975e+06,1-10,9.802960,4.132247e+06,1-10,5.000417,1.048110e+06,1.268314,3.084138e+06,3.732104,...,7.453707e+07,90.197040,1665,Spotted Turtle,Clemmys guttata,rSPTUx,0,CONUS,R,8.263805e+07
4,5.960137e+04,1-10,8.233767,1.940417e+04,1-10,2.680633,5.557647e+02,0.076777,1.884841e+04,2.603856,...,6.642638e+05,91.766233,4988,Spotted Turtle,Clemmys guttata,rSPTUx,09,Connecticut,R,7.238652e+05
5,2.026017e+02,<1,0.542255,2.424104e+01,<1,0.064880,0.000000e+00,0.000000,2.424104e+01,0.064880,...,3.716018e+04,99.457745,2214,Spotted Turtle,Clemmys guttata,rSPTUx,01,Alabama,R,3.736278e+04
6,3.153092e+04,17-50,18.190321,2.276812e+04,10-17,13.135023,9.184907e+02,0.529881,2.184963e+04,12.605142,...,1.418081e+05,81.809679,18773,Spotted Turtle,Clemmys guttata,rSPTUx,44,Rhode Island,R,1.733390e+05
7,7.305671e+03,1-10,1.808713,6.348706e+03,1-10,1.571790,4.003107e+00,0.000991,6.344702e+03,1.570799,...,3.966098e+05,98.191287,23099,Spotted Turtle,Clemmys guttata,rSPTUx,54,West Virginia,R,4.039155e+05
8,0.000000e+00,<1,0.000000,0.000000e+00,<1,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,6.649606e+01,100.000000,23476,Spotted Turtle,Clemmys guttata,rSPTUx,55,Wisconsin,R,6.649606e+01
9,1.146034e+05,10-17,15.601744,3.566568e+04,1-10,4.855413,4.092065e+01,0.005571,3.562476e+04,4.849843,...,6.199516e+05,84.398256,5359,Spotted Turtle,Clemmys guttata,rSPTUx,10,Delaware,R,7.345550e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': "Kirtland's snake",
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Clonophis kirtlandii',
 'Species Range': 'IL, IN, KY, MI, MO, OH, PA, TN',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4979'}

==== GAP Matched Record ====

{'commonname': "Kirtland's Snake",
 'doi': 'doi:10.5066/F7WH2NF9',
 'gap_speciescode': 'rKISNx'}

==== State Range Comparison ====
FWS States ['Illinois', 'Indiana', 'Kentucky', 'Michigan', 'Missouri', 'Ohio', 'Pennsylvania', 'Tennessee']
GAP States ['Wisconsin', 'Missouri', 'Michigan', 'Kentucky', 'Pennsylvania', 'Illinois', 'Indiana', 'Ohio']
Agreement between FWS and GAP states ['Kentucky', 'Missouri', 'Ohio', 'Indiana', 'Pennsylvania', 'Michigan', 'Illinois']
FWS States not in GAP States ['Tennessee']
GAP States not in FWS States ['Wisconsin']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,130.768168,1-10,2.780668,96.741757,1-10,2.057127,0.222395,0.004729,96.519362,2.052398,...,4.571993e+03,97.219332,23453,Kirtland's Snake,Clonophis kirtlandii,rKISNx,55,Wisconsin,R,4.702761e+03
1,2038.026340,<1,0.770032,2038.026340,<1,0.770032,8.228609,0.003109,2029.797731,0.766923,...,2.626296e+05,99.229968,12424,Kirtland's Snake,Clonophis kirtlandii,rKISNx,29,Missouri,R,2.646677e+05
2,21255.164715,1-10,1.810699,13375.270642,1-10,1.139421,2761.921554,0.235284,10613.349088,0.904137,...,1.152610e+06,98.189301,11159,Kirtland's Snake,Clonophis kirtlandii,rKISNx,26,Michigan,R,1.173865e+06
3,4702.316558,1-10,1.526865,4109.634302,1-10,1.334418,266.651417,0.086583,3842.982885,1.247835,...,3.032696e+05,98.473135,9170,Kirtland's Snake,Clonophis kirtlandii,rKISNx,21,Kentucky,R,3.079719e+05
4,37153.060060,1-10,5.360365,19468.889337,1-10,2.808930,2146.110234,0.309636,17322.779103,2.499294,...,6.559538e+05,94.639635,18418,Kirtland's Snake,Clonophis kirtlandii,rKISNx,42,Pennsylvania,R,6.931069e+05
5,83869.765549,1-10,3.988083,61466.153865,1-10,2.922771,51377.879002,2.443064,10088.274864,0.479707,...,2.019140e+06,96.011917,7551,Kirtland's Snake,Clonophis kirtlandii,rKISNx,17,Illinois,R,2.103010e+06
6,45746.841579,1-10,2.357277,36948.456805,1-10,1.903907,5247.851108,0.270415,31700.605697,1.633492,...,1.894918e+06,97.642723,7945,Kirtland's Snake,Clonophis kirtlandii,rKISNx,18,Indiana,R,1.940665e+06
7,304818.597181,1-10,3.579027,167736.195176,1-10,1.969474,67836.654140,0.796504,99899.541036,1.172970,...,8.211982e+06,96.420973,1534,Kirtland's Snake,Clonophis kirtlandii,rKISNx,0,CONUS,R,8.516800e+06
8,109922.654210,1-10,5.418083,30233.022128,1-10,1.490184,6027.789822,0.297109,24205.232306,1.193075,...,1.918888e+06,94.581917,16904,Kirtland's Snake,Clonophis kirtlandii,rKISNx,39,Ohio,R,2.028811e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Panamint alligator lizard',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R8',
 'Scientific Name': 'Elgaria panamintina',
 'Species Range': 'CA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/47'}

==== GAP Matched Record ====

{'commonname': 'Panamint Alligator Lizard',
 'doi': 'doi:10.5066/F7BC3X0T',
 'gap_speciescode': 'rPALIx'}

==== State Range Comparison ====
FWS States ['California']
GAP States ['Nevada', 'California']
Agreement between FWS and GAP states ['California']
FWS States not in GAP States []
GAP States not in FWS States ['Nevada']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,1.824674e+06,>50,84.965178,1.083693e+06,>50,50.461710,975937.735441,45.444134,107755.194072,5.017576,...,322881.061531,15.034822,1577,Panamint Alligator Lizard,Elgaria panamintina,rPALIx,0,CONUS,R,2.147555e+06
1,3.017364e+05,>50,96.277442,9.864034e+04,17-50,31.473958,15054.796495,4.803654,83585.544940,26.670305,...,11666.611064,3.722558,13817,Panamint Alligator Lizard,Elgaria panamintina,rPALIx,32,Nevada,R,3.134030e+05
2,1.522937e+06,>50,83.032242,9.850526e+05,>50,53.706163,960882.938946,52.388407,24169.649132,1.317756,...,311214.450468,16.967758,4065,Panamint Alligator Lizard,Elgaria panamintina,rPALIx,06,California,R,1.834152e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': "Blanding's turtle",
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R3',
 'Scientific Name': 'Emydoidea blandingii',
 'Species Range': 'IA, IL, IN, MA, ME, MI, MN, MO, NE, NH, NY, OH, PA, SD, WI',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/6056'}

==== GAP Matched Record ====

{'commonname': "Blanding's Turtle",
 'doi': 'doi:10.5066/F7V40SNS',
 'gap_speciescode': 'rBTURx'}

==== State Range Comparison ====
FWS States ['Iowa', 'Illinois', 'Indiana', 'Massachusetts', 'Maine', 'Michigan', 'Minnesota', 'Missouri', 'Nebraska', 'New Hampshire', 'New York', 'Ohio', 'Pennsylvania', 'South Dakota', 'Wisconsin']
GAP States ['Minnesota', 'Nebraska', 'Pennsylvania', 'South Dakota', 'Wisconsin', 'Indiana', 'Iowa', 'New York', 'Michigan', 'Ohio']
Agreement between FWS and GAP states ['Iowa', 'South Dakota', 'Wisconsin', 'Ohio', 'Pennsylvania', 'Indiana', 'Michigan', 'Nebraska', 'Minnesota', 'New York']
FWS States not in GAP States ['New Hampshire', 'Missouri', 'Maine', 'Massachusetts', 'Illinois']
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'wood turtle',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Glyptemys insculpta',
 'Species Range': 'CT, DC, IA, MA, MD, ME, MI, MN, NH, NJ, NY, OH, PA, RI, VA, VT, WI, WV, Canada',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/6997'}

==== GAP Matched Record ====

{'commonname': 'Wood Turtle',
 'doi': 'doi:10.5066/F7RV0M5R',
 'gap_speciescode': 'rWOTUx'}

==== State Range Comparison ====
FWS States ['Connecticut', 'District of Columbia', 'Iowa', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota', 'New Hampshire', 'New Jersey', 'New York', 'Ohio', 'Pennsylvania', 'Rhode Island', 'Virginia', 'Vermont', 'Wisconsin', 'West Virginia']
GAP States ['Pennsylvania', 'Maine', 'Vermont', 'West Virginia', 'Delaware', 'Iowa', 'New York', 'Ohio', 'Virginia', 'Maryland']
Agreement between FWS and GAP states ['Vermont', 'Iowa', 'Virginia', 'Maryland', 'Maine', 'Ohio', 'Pennsylvania', 'West Virginia', 'New York']
FWS States not in GAP States ['District of Columbia', 'New Jersey', 'New Hampshire', 'Massachusetts', 'Wisconsin', 'Connecticut', 'Michigan', 'Rhode Island', 'Minnesota']
GAP States not in FWS States ['Delaware']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,457578.278846,1-10,8.011426,98973.044120,1-10,1.732852,18815.715684,0.329432,80157.328437,1.403420,...,5.253993e+06,91.988574,18442,Wood Turtle,Glyptemys insculpta,rWOTUx,42,Pennsylvania,R,5.711571e+06
1,59908.945175,1-10,5.117279,33862.728359,1-10,2.892474,4566.433309,0.390054,29296.295050,2.502420,...,1.110810e+06,94.882721,10018,Wood Turtle,Glyptemys insculpta,rWOTUx,23,Maine,R,1.170719e+06
2,28227.243040,1-10,4.894057,14698.075167,1-10,2.548362,318.247020,0.055178,14379.828147,2.493184,...,5.485384e+05,95.105943,21733,Wood Turtle,Glyptemys insculpta,rWOTUx,50,Vermont,R,5.767657e+05
3,25868.745731,1-10,3.824288,11347.474464,1-10,1.677546,0.000000,0.000000,11347.474464,1.677546,...,6.505643e+05,96.175712,23101,Wood Turtle,Glyptemys insculpta,rWOTUx,54,West Virginia,R,6.764330e+05
4,3882.569167,17-50,21.789815,794.394379,1-10,4.458313,32.914437,0.184723,761.479942,4.273590,...,1.393571e+04,78.210185,5360,Wood Turtle,Glyptemys insculpta,rWOTUx,10,Delaware,R,1.781827e+04
5,2746.576310,1-10,2.176879,2492.156610,1-10,1.975231,32.692042,0.025911,2459.464568,1.949320,...,1.234238e+05,97.823121,8333,Wood Turtle,Glyptemys insculpta,rWOTUx,19,Iowa,R,1.261704e+05
6,109220.331297,1-10,4.002338,37091.456689,1-10,1.359202,5195.810715,0.190399,31895.645974,1.168804,...,2.619693e+06,95.997662,15671,Wood Turtle,Glyptemys insculpta,rWOTUx,36,New York,R,2.728913e+06
7,0.000000,<1,0.000000,0.000000,<1,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.006214e+00,100.000000,16929,Wood Turtle,Glyptemys insculpta,rWOTUx,39,Ohio,R,8.006214e+00
8,173821.585262,1-10,9.412059,153842.966945,1-10,8.330261,51705.911395,2.799762,102137.055550,5.530498,...,1.672975e+06,90.587941,22235,Wood Turtle,Glyptemys insculpta,rWOTUx,51,Virginia,R,1.846797e+06
9,97531.480749,10-17,12.029990,40094.009463,1-10,4.945383,2.001554,0.000247,40092.007909,4.945136,...,7.132047e+05,87.970010,10454,Wood Turtle,Glyptemys insculpta,rWOTUx,24,Maryland,R,8.107362e+05

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'gopher tortoise',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Gopherus polyphemus',
 'Species Range': 'AL, FL, GA, SC',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/6994'}

==== GAP Matched Record ====

{'commonname': 'Gopher Tortoise',
 'doi': 'doi:10.5066/F7K64GH0',
 'gap_speciescode': 'rGOTOx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Florida', 'Georgia', 'South Carolina']
GAP States ['Florida', 'Alabama', 'Louisiana', 'Georgia', 'South Carolina', 'Mississippi']
Agreement between FWS and GAP states ['South Carolina', 'Alabama', 'Florida', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States ['Louisiana', 'Mississippi']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,2.836231e+06,17-50,18.710050,8.628517e+05,1-10,5.692061,336200.955857,2.217851,5.266508e+05,3.474210,...,1.232263e+07,81.289950,6143,Gopher Tortoise,Gopherus polyphemus,rGOTOx,12,Florida,R,1.515886e+07
1,1.736492e+05,1-10,2.546545,9.866347e+04,1-10,1.446888,4401.638731,0.064550,9.426183e+04,1.382339,...,6.645362e+06,97.453455,2161,Gopher Tortoise,Gopherus polyphemus,rGOTOx,01,Alabama,R,6.819012e+06
2,3.974730e+04,1-10,4.259702,2.167482e+04,1-10,2.322882,12093.609162,1.296067,9.581215e+03,1.026815,...,8.933532e+05,95.740298,9627,Gopher Tortoise,Gopherus polyphemus,rGOTOx,22,Louisiana,R,9.331005e+05
3,2.887395e+05,1-10,2.820171,2.726472e+05,1-10,2.662995,58558.341294,0.571950,2.140888e+05,2.091045,...,9.949627e+06,97.179829,6684,Gopher Tortoise,Gopherus polyphemus,rGOTOx,13,Georgia,R,1.023837e+07
4,1.755207e+04,1-10,7.756004,1.477636e+04,1-10,6.529458,275.324816,0.121662,1.450103e+04,6.407796,...,2.087509e+05,92.243996,19215,Gopher Tortoise,Gopherus polyphemus,rGOTOx,45,South Carolina,R,2.263030e+05
5,3.864805e+06,10-17,10.389529,1.442014e+06,1-10,3.876483,434640.919539,1.168420,1.007373e+06,2.708063,...,3.333423e+07,89.610471,1521,Gopher Tortoise,Gopherus polyphemus,rGOTOx,0,CONUS,R,3.719904e+07
6,5.088861e+05,10-17,13.309798,1.714008e+05,1-10,4.482949,23111.049679,0.604464,1.482898e+05,3.878485,...,3.314508e+06,86.690202,11981,Gopher Tortoise,Gopherus polyphemus,rGOTOx,28,Mississippi,R,3.823395e+06

*************************************
==== FWS Work Plan Information ====

{'Common Name': "Barbour's map turtle",
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Graptemys barbouri',
 'Species Range': 'AL, FL, GA',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3085'}

==== GAP Matched Record ====

{'commonname': "Barbour's Map Turtle",
 'doi': 'doi:10.5066/F74M92ZV',
 'gap_speciescode': 'rBMTUx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Florida', 'Georgia']
GAP States ['Alabama', 'Florida', 'Georgia']
Agreement between FWS and GAP states ['Alabama', 'Florida', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'southern hognose snake',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Heterodon simus',
 'Species Range': 'AL, FL, GA, MS, NC, SC',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/3248'}

==== GAP Matched Record ====

{'commonname': 'Southern Hog-nosed Snake',
 'doi': 'doi:10.5066/F72J699S',
 'gap_speciescode': 'rSHNSx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Florida', 'Georgia', 'Mississippi', 'North Carolina', 'South Carolina']
GAP States ['Florida', 'North Carolina', 'Georgia', 'Alabama', 'South Carolina']
Agreement between FWS and GAP states ['Georgia', 'Alabama', 'Florida', 'North Carolina', 'South Carolina']
FWS States not in GAP States ['Mississippi']
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'spot-tailed earless lizard',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Holbrookia lacerata',
 'Species Range': 'TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9044'}

==== GAP Matched Record ====

{'commonname': 'Spot-tailed Earless Lizard',
 'doi': 'doi:10.5066/F79W0CZG',
 'gap_speciescode': 'rSTELx'}

==== State Range Comparison ====
FWS States ['Texas']
GAP States ['Texas', 'New Mexico']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States []
GAP States not in FWS States ['New Mexico']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,905519.74436,1-10,2.603698,320948.005557,<1,0.922842,37759.086007,0.108571,283188.91955,0.814271,...,3.387269e+07,97.396302,1670,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,0,CONUS,R,3.477821e+07
1,905519.74436,1-10,2.603702,320948.005557,<1,0.922844,37759.086007,0.108571,283188.91955,0.814272,...,3.387264e+07,97.396298,20912,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,48,Texas,R,3.477816e+07
2,0.00000,<1,0.000000,0.000000,<1,0.000000,0.000000,0.000000,0.00000,0.000000,...,1.556764e+00,100.000000,15227,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,35,New Mexico,R,1.556764e+00

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'alligator snapping turtle',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Macroclemys temmincki',
 'Species Range': 'AL, AR, FL, GA, IA, IL, KS, KY, LA, MO, MS, OK, TN, TX',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4658'}

==== GAP Matched Record ====

{'commonname': 'Spot-tailed Earless Lizard',
 'doi': 'doi:10.5066/F79W0CZG',
 'gap_speciescode': 'rSTELx'}

==== State Range Comparison ====
FWS States ['Alabama', 'Arkansas', 'Florida', 'Georgia', 'Iowa', 'Illinois', 'Kansas', 'Kentucky', 'Louisiana', 'Missouri', 'Mississippi', 'Oklahoma', 'Tennessee', 'Texas']
GAP States ['Texas', 'New Mexico']
Agreement between FWS and GAP states ['Texas']
FWS States not in GAP States ['Iowa', 'Missouri', 'Georgia', 'Oklahoma', 'Louisiana', 'Kansas', 'Alabama', 'Florida', 'Tennessee', 'Kentucky', 'Arkansas', 'Illinois', 'Mississippi']
GAP States not in FWS States ['New Mexico']

,gapstat123ac,gapstat123group,gapstat123perc,gapstat12ac,gapstat12group,gapstat12perc,gapstat1ac,gapstat1perc,gapstat2ac,gapstat2perc,...,gapstat4ac,gapstat4perc,id,spp_comname,spp_sciname,sppcode,state_fipscode,state_name,taxa,totalac
0,905519.74436,1-10,2.603698,320948.005557,<1,0.922842,37759.086007,0.108571,283188.91955,0.814271,...,3.387269e+07,97.396302,1670,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,0,CONUS,R,3.477821e+07
1,905519.74436,1-10,2.603702,320948.005557,<1,0.922844,37759.086007,0.108571,283188.91955,0.814272,...,3.387264e+07,97.396298,20912,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,48,Texas,R,3.477816e+07
2,0.00000,<1,0.000000,0.000000,<1,0.000000,0.000000,0.000000,0.00000,0.000000,...,1.556764e+00,100.000000,15227,Spot-tailed Earless Lizard,Holbrookia lacerata,rSTELx,35,New Mexico,R,1.556764e+00

*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Florida pine snake',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Pituophis melanoleucus mugitus',
 'Species Range': 'AL, FL, GA, SC',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/4978'}

==== GAP Matched Record ====

{'commonname': 'Florida Pinesnake',
 'doi': 'doi:10.5066/F75M6443',
 'gap_speciescode': 'rPINEu'}

==== State Range Comparison ====
FWS States ['Alabama', 'Florida', 'Georgia', 'South Carolina']
GAP States ['Alabama', 'South Carolina', 'Florida', 'Georgia']
Agreement between FWS and GAP states ['South Carolina', 'Alabama', 'Florida', 'Georgia']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Rio Grande cooter',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R2',
 'Scientific Name': 'Pseudemys gorzugi',
 'Species Range': 'NM, TX',
 'Species Record Reference': nan}

==== GAP Matched Record ====

{'commonname': 'Rio Grande Cooter',
 'doi': 'doi:10.5066/F7JQ0ZGP',
 'gap_speciescode': 'rRGCOx'}

==== State Range Comparison ====
FWS States ['New Mexico', 'Texas']
GAP States ['New Mexico', 'Texas']
Agreement between FWS and GAP states ['Texas', 'New Mexico']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'northern red-bellied cooter (range- wide)',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R5',
 'Scientific Name': 'Pseudemys rubriventris',
 'Species Range': 'DC, DE, MA, MD, NC, NJ, PA, VA, WV',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/9957'}

==== GAP Matched Record ====

{'commonname': 'Northern Red-bellied Cooter',
 'doi': 'doi:10.5066/F7H41PWZ',
 'gap_speciescode': 'rNRBCx'}

==== State Range Comparison ====
FWS States ['District of Columbia', 'Delaware', 'Massachusetts', 'Maryland', 'North Carolina', 'New Jersey', 'Pennsylvania', 'Virginia', 'West Virginia']
GAP States ['Pennsylvania', 'District of Columbia', 'Delaware', 'North Carolina', 'Maryland', 'Massachusetts', 'New Jersey', 'Virginia', 'West Virginia']
Agreement between FWS and GAP states ['District of Columbia', 'New Jersey', 'Virginia', 'Maryland', 'Delaware', 'Massachusetts', 'Pennsylvania', 'West Virginia', 'North Carolina']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************
==== FWS Work Plan Information ====

{'Common Name': 'Rim Rock crowned snake',
 'Grouping': 'Reptiles',
 'Lead FWS Region': 'R4',
 'Scientific Name': 'Tantilla oolitica',
 'Species Range': 'FL',
 'Species Record Reference': 'https://ecos.fws.gov/ecp/species/1497'}

==== GAP Matched Record ====

{'commonname': 'Rim Rock Crowned Snake',
 'doi': 'doi:10.5066/F78914BQ',
 'gap_speciescode': 'rRRCSx'}

==== State Range Comparison ====
FWS States ['Florida']
GAP States ['Florida']
Agreement between FWS and GAP states ['Florida']
FWS States not in GAP States []
GAP States not in FWS States []
*************************************